# Importar Librerias

In [1029]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

from sklearn import *

# Importar Textos

In [1030]:
df1 = pd.read_csv("/Users/paulinalopez/Desktop/Diplomado/Modulo 2/Miniproyecto/UCI_Credit_Card_BillATM.csv")
df2 = pd.read_csv("/Users/paulinalopez/Desktop/Diplomado/Modulo 2/Miniproyecto/UCI_Credit_Card_Pay.csv")
df3 = pd.read_csv("/Users/paulinalopez/Desktop/Diplomado/Modulo 2/Miniproyecto/UCI_Credit_Card_PayATM.csv")
df4 = pd.read_csv("/Users/paulinalopez/Desktop/Diplomado/Modulo 2/Miniproyecto/UCI_Credit_Card_PayNextMonth.csv")

# Visualizacion de datos y su Informacion

In [1031]:
df1

,Unnamed: 0,ID,LIMIT_BAL,SEX,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6
0,0,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0
1,1,2,120000.0,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0
2,2,3,90000.0,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0
3,3,4,50000.0,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0
4,4,5,50000.0,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0
5,5,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0
6,6,7,500000.0,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0
7,7,8,100000.0,female,11876.0,380.0,601.0,221.0,-159.0,567.0
8,8,9,140000.0,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0
9,9,10,20000.0,male,0.0,0.0,0.0,0.0,13007.0,13912.0
10,10,11,200000.0,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0
11,11,12,260000.0,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0
12,12,13,630000.0,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0
13,13,14,-,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0
14,14,15,250000.0,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0
15,15,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0
16,16,17,20000.0,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0
17,17,18,320000.0,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0
18,18,19,-,female,0.0,0.0,0.0,0.0,0.0,0.0
19,19,20,180000.0,female,0.0,0.0,0.0,0.0,0.0,0.0
20,20,21,130000.0,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0
21,21,22,120000.0,NaN,316.0,316.0,316.0,0.0,632.0,316.0
22,22,23,-,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0
23,23,24,450000.0,female,5512.0,19420.0,1473.0,560.0,0.0,0.0
24,24,25,-,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0
25,25,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0
26,26,27,60000.0,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0
27,27,28,50000.0,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0
28,28,29,50000.0,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0
29,29,30,50000.0,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0
30,30,31,230000.0,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0
31,31,32,50000.0,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0
32,32,33,100000.0,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0
33,33,34,500000.0,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0
34,34,35,500000.0,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0
35,35,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0
36,36,37,-,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0
37,37,38,60000.0,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0
38,38,39,50000.0,male,0.0,780.0,0.0,0.0,0.0,0.0
39,39,40,280000.0,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0
40,40,41,360000.0,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0
41,41,42,70000.0,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0
42,42,43,10000.0,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0
43,43,44,140000.0,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0
44,44,45,40000.0,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0
45,45,46,210000.0,male,0.0,0.0,0.0,0.0,0.0,0.0
46,46,47,20000.0,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0
47,47,48,150000.0,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0
48,48,49,380000.0,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0
49,49,50,-,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0
50,50,16,50000.0,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0
51,51,36,160000.0,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0

In [1032]:
df2

,Unnamed: 0,ID,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6
0,0,1,20000.0,No info,2,2,-1,-1,-2,-2
1,1,2,120000.0,26 years,-1,2,0,0,0,2
2,2,3,90000.0,34 years,0,0,0,0,0,0
3,3,4,50000.0,37 years,0,0,0,0,0,0
4,4,5,50000.0,57 years,-1,0,-1,0,0,0
5,5,6,50000.0,No info,0,0,0,0,0,0
6,6,7,500000.0,29 years,0,0,0,0,0,0
7,7,8,100000.0,23 years,0,-1,-1,0,0,-1
8,8,9,140000.0,28 years,0,0,2,0,0,0
9,9,10,20000.0,35 years,-2,-2,-2,-2,-1,-1
10,10,1,20000.0,No info,2,2,-1,-1,-2,-2
11,11,12,260000.0,51 years,-1,-1,-1,-1,-1,2
12,12,13,630000.0,41 years,-1,0,-1,-1,-1,-1
13,13,14,70000.0,30 years,1,2,2,0,0,2
14,14,15,250000.0,29 years,0,0,0,0,0,0
15,15,16,50000.0,No info,1,2,0,0,0,0
16,16,17,20000.0,24 years,0,0,2,2,2,2
17,17,18,320000.0,49 years,0,0,0,-1,-1,-1
18,18,19,360000.0,49 years,1,-2,-2,-2,-2,-2
19,19,20,180000.0,29 years,1,-2,-2,-2,-2,-2
20,20,21,130000.0,No info,0,0,0,0,0,-1
21,21,22,120000.0,39 years,-1,-1,-1,-1,-1,-1
22,22,23,70000.0,26 years,2,0,0,2,2,2
23,23,24,450000.0,40 years,-2,-2,-2,-2,-2,-2
24,24,25,90000.0,23 years,0,0,0,-1,0,0
25,25,26,-,23 years,0,0,0,0,0,0
26,26,27,60000.0,27 years,1,-2,-1,-1,-1,-1
27,27,28,50000.0,30 years,0,0,0,0,0,0
28,28,29,50000.0,47 years,-1,-1,-1,-1,-1,-1
29,29,30,50000.0,26 years,0,0,0,0,0,0
30,30,31,-,27 years,-1,-1,-1,-1,-1,-1
31,31,32,50000.0,33 years,2,0,0,0,0,0
32,32,33,100000.0,32 years,0,0,0,0,0,0
33,33,34,-,54 years,-2,-2,-2,-2,-2,-2
34,34,35,500000.0,58 years,-2,-2,-2,-2,-2,-2
35,35,36,160000.0,No info,-1,-1,-2,-2,-2,-1
36,36,37,280000.0,40 years,0,0,0,0,0,0
37,37,38,60000.0,22 years,0,0,0,0,0,-1
38,38,39,50000.0,25 years,1,-1,-1,-2,-2,-2
39,39,40,280000.0,31 years,-1,-1,2,-1,0,-1
40,40,41,360000.0,No info,0,0,0,0,0,0
41,41,42,70000.0,25 years,0,0,0,0,0,0
42,42,43,-,22 years,0,0,0,0,0,0
43,43,44,-,37 years,0,0,0,0,0,0
44,44,45,40000.0,30 years,0,0,0,2,0,0
45,45,46,210000.0,No info,-2,-2,-2,-2,-2,-2
46,46,47,20000.0,22 years,0,0,2,-1,0,0
47,47,48,150000.0,46 years,0,0,-1,0,0,-2
48,48,49,380000.0,32 years,-1,-1,-1,-1,-1,-1
49,49,50,20000.0,24 years,0,0,0,0,0,0
50,50,11,-,34 years,0,0,2,0,0,-1
51,51,26,-,23 years,0,0,0,0,0,0

In [1033]:
df3

,Unnamed: 0,ID,LIMIT_BAL,EDUCATION,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,0,1,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
1,1,2,120000.0,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,2,3,90000.0,Null,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,3,4,-,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,4,5,50000.0,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0
5,5,6,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0
6,6,7,-,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0
7,7,8,100000.0,2,380.0,601.0,0.0,581.0,1687.0,1542.0
8,8,9,140000.0,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0
9,9,10,20000.0,Null,0.0,0.0,0.0,13007.0,1122.0,0.0
10,10,11,200000.0,3,2306.0,12.0,50.0,300.0,3738.0,66.0
11,11,12,260000.0,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0
12,12,13,630000.0,Null,1000.0,6500.0,6500.0,6500.0,2870.0,0.0
13,13,14,70000.0,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0
14,14,15,250000.0,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0
15,15,16,50000.0,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0
16,16,17,20000.0,1,3200.0,0.0,1500.0,0.0,1650.0,0.0
17,17,18,320000.0,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0
18,18,19,360000.0,1,0.0,0.0,0.0,0.0,0.0,0.0
19,19,20,180000.0,1,0.0,0.0,0.0,0.0,0.0,0.0
20,20,21,130000.0,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0
21,21,22,120000.0,2,316.0,316.0,0.0,632.0,316.0,0.0
22,22,23,70000.0,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0
23,23,24,450000.0,Null,19428.0,1473.0,560.0,0.0,0.0,1128.0
24,24,25,90000.0,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0
25,25,26,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0
26,26,27,-,1,0.0,1000.0,0.0,500.0,0.0,1000.0
27,27,28,-,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0
28,28,29,50000.0,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0
29,29,30,50000.0,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0
30,30,31,230000.0,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0
31,31,32,50000.0,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0
32,32,33,100000.0,Null,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0
33,33,34,500000.0,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0
34,34,35,500000.0,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0
35,35,1,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
36,36,37,280000.0,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0
37,37,38,-,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0
38,38,39,50000.0,1,780.0,0.0,0.0,0.0,0.0,0.0
39,39,40,280000.0,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0
40,40,41,360000.0,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0
41,41,42,70000.0,Null,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0
42,42,43,10000.0,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0
43,43,44,140000.0,Null,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0
44,44,45,40000.0,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0
45,45,4,-,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
46,46,47,20000.0,1,3000.0,0.0,16741.0,334.0,0.0,0.0
47,47,48,-,5,1013.0,1170.0,0.0,0.0,0.0,0.0
48,48,49,380000.0,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0
49,49,50,20000.0,1,1318.0,1315.0,704.0,928.0,912.0,1069.0
50,50,36,160000.0,1,131.0,396.0,396.0,565.0,792.0,0.0
51,51,46,210000.0,1,0.0,0.0,0.0,0.0,0.0,0.0

In [1034]:
df4

    Unnamed: 0  ID  SEX  EDUCATION  MARRIAGE   AGE  default.payment.next.month
0            0   1    2        2.0         1  24.0                           1
1            1   2    2        2.0         2  26.0                           1
2            2   3    2        2.0         2  34.0                           0
3            3   4    2        NaN         1  37.0                           0
4            4   5    1        2.0         1  57.0                           0
5            5   6    1        1.0         2  37.0                           0
6            6   7    1        NaN         2  29.0                           0
7            7   8    2        2.0         2  23.0                           0
8            8   9    2        3.0         1  28.0                           0
9            9  10    1        3.0         2  35.0                           0
10          10  11    2        3.0         2   NaN                           0
11          11  12    2        1.0         2  51.0                           0
12          12  13    2        2.0         2  41.0                           0
13          13  14  Nan        2.0         2  30.0                           1
14          14  15    1        1.0         2  29.0                           0
15          15  16    2        3.0         3  23.0                           0
16          16  17    1        1.0         2  24.0                           1
17          17  18    1        1.0         1  49.0                           0
18          18  19  Nan        1.0         1  49.0                           0
19          19  20    2        1.0         2  29.0                           0
20          20  21    2        3.0         2  39.0                           0
21          21  22    2        2.0         1  39.0                           1
22          22  23  Nan        2.0         2  26.0                           1
23          23  24    2        1.0         1  40.0                           1
24          24  25  Nan        1.0         2  23.0                           0
25          25  26    1        3.0         2   NaN                           0
26          26  27    1        NaN         2  27.0                           1
27          27  28    2        NaN         2  30.0                           0
28          28  29    2        3.0         1  47.0                           0
29          29  30    1        1.0         2  26.0                           0
30          30  31    2        1.0         2   NaN                           0
31          31  32    1        2.0         2  33.0                           1
32          32  33    1        1.0         2  32.0                           0
33          33  34    2        2.0         1   NaN                           0
34          34  35    1        1.0         1  58.0                           0
35          35  36    1        1.0         2  30.0                           0
36          36  37  Nan        2.0         1  40.0                           0
37          37  38    2        NaN         2  22.0                           0
38          38  39    1        1.0         2  25.0                           1
39          39  40    1        1.0         2  31.0                           0
40          40  41    1        1.0         2  33.0                           0
41          41  42    2        1.0         2  25.0                           0
42          42  43    1        2.0         2   NaN                           0
43          43  44    2        2.0         1   NaN                           0
44          44  45    2        1.0         2  30.0                           0
45          45  46    1        1.0         2  29.0                           1
46          46  47    2        1.0         2  22.0                           1
47          47  48    2        NaN         2  46.0                           1
48          48  49    1        2.0         2  32.0                           0
49          49  50  Nan        1.0         2  24.0                           0

In [1035]:
df1.columns

Index(['Unnamed: 0', 'ID', 'LIMIT_BAL', 'SEX', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6'],
      dtype='object')

In [1036]:
df2.columns

Index(['Unnamed: 0', 'ID', 'LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3',
       'PAY_4', 'PAY_5', 'PAY_6'],
      dtype='object')

In [1037]:
df3.columns

Index(['Unnamed: 0', 'ID', 'LIMIT_BAL', 'EDUCATION', 'PAY_AMT1', 'PAY_AMT2',
       'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'],
      dtype='object')

In [1038]:
df4.columns

Index(['Unnamed: 0', 'ID', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE',
       'default.payment.next.month'],
      dtype='object')

In [1039]:
df1.dtypes

Unnamed: 0      int64
ID              int64
LIMIT_BAL      object
SEX            object
BILL_AMT1     float64
BILL_AMT2     float64
BILL_AMT3     float64
BILL_AMT4     float64
BILL_AMT5     float64
BILL_AMT6     float64
dtype: object

In [1040]:
df2.dtypes

Unnamed: 0     int64
ID             int64
LIMIT_BAL     object
AGE           object
PAY_0          int64
PAY_2          int64
PAY_3          int64
PAY_4          int64
PAY_5          int64
PAY_6          int64
dtype: object

In [1041]:
df3.dtypes

Unnamed: 0      int64
ID              int64
LIMIT_BAL      object
EDUCATION      object
PAY_AMT1      float64
PAY_AMT2      float64
PAY_AMT3      float64
PAY_AMT4      float64
PAY_AMT5      float64
PAY_AMT6      float64
dtype: object

In [1042]:
df4.dtypes

Unnamed: 0                      int64
ID                              int64
SEX                            object
EDUCATION                     float64
MARRIAGE                        int64
AGE                           float64
default.payment.next.month      int64
dtype: object

In [1043]:
df1.describe(include=['object'])

       LIMIT_BAL   SEX
count         52    45
unique        27     2
top      50000.0  male
freq          11    23

In [1044]:
df2.describe(include=['object'])

       LIMIT_BAL      AGE
count         52       52
unique        24       26
top      50000.0  No info
freq           9        8

In [1045]:
df3.describe(include=['object'])

       LIMIT_BAL EDUCATION
count         52        52
unique        25         5
top      50000.0         1
freq           8        21

In [1046]:
df4.describe(include=['object'])

       SEX
count   50
unique   3
top      2
freq    24

In [1047]:
df1.describe(include=np.number)

,Unnamed: 0,ID,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,25.500000,24.653846,40476.115385,39074.576923,38418.826923,42871.423077,32894.153846,34781.923077
std,15.154757,14.921868,69774.513351,73656.655907,73852.238490,113904.603463,74466.869801,75981.530564
min,0.000000,1.000000,-109.000000,-425.000000,-527.000000,-923.000000,-28335.000000,-1884.000000
25%,12.750000,11.750000,4325.500000,3163.500000,1397.250000,1822.500000,505.750000,504.250000
50%,25.500000,24.500000,15191.500000,16311.000000,15467.000000,14835.000000,15811.500000,12770.500000
75%,38.250000,37.250000,47147.500000,41968.750000,38272.250000,28428.250000,29102.000000,29671.750000
max,51.000000,50.000000,367965.000000,412023.000000,445007.000000,628699.000000,483003.000000,473944.000000

In [1048]:
df2.describe(include=np.number)

,Unnamed: 0,ID,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,25.500000,25.038462,-0.115385,-0.288462,-0.326923,-0.480769,-0.480769,-0.461538
std,15.154757,14.687545,1.003012,1.054152,1.115333,0.980004,0.939136,1.110759
min,0.000000,1.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000
25%,12.750000,12.750000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,25.500000,25.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.250000,37.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,51.000000,50.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [1049]:
df3.describe(include=np.number)

,Unnamed: 0,ID,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,25.500000,24.615385,4814.557692,4920.519231,5199.730769,8909.442308,7749.884615,4025.826923
std,15.154757,14.973380,8879.389673,8952.014216,12122.670220,27900.881776,28067.826843,10730.716777
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.750000,11.750000,945.000000,376.000000,37.500000,325.500000,192.750000,0.000000
50%,25.500000,24.500000,2003.500000,1500.000000,1000.500000,1100.000000,1031.000000,898.500000
75%,38.250000,37.250000,3350.500000,3811.500000,4381.000000,4600.000000,3000.000000,2125.000000
max,51.000000,50.000000,55000.000000,40000.000000,75940.000000,188840.000000,195599.000000,51582.000000

In [1050]:
df4.describe(include=np.number)

,Unnamed: 0,ID,EDUCATION,MARRIAGE,AGE,default.payment.next.month
count,50.00000,50.00000,44.000000,50.000000,44.000000,50.000000
mean,24.50000,25.50000,1.659091,1.760000,33.272727,0.260000
std,14.57738,14.57738,0.745317,0.476381,9.519536,0.443087
min,0.00000,1.00000,1.000000,1.000000,22.000000,0.000000
25%,12.25000,13.25000,1.000000,1.250000,26.000000,0.000000
50%,24.50000,25.50000,1.500000,2.000000,30.000000,0.000000
75%,36.75000,37.75000,2.000000,2.000000,39.000000,0.750000
max,49.00000,50.00000,3.000000,3.000000,58.000000,1.000000

In [1051]:
df1.nunique()

Unnamed: 0    52
ID            50
LIMIT_BAL     27
SEX            2
BILL_AMT1     46
BILL_AMT2     47
BILL_AMT3     45
BILL_AMT4     44
BILL_AMT5     43
BILL_AMT6     43
dtype: int64

In [1052]:
df2.nunique()

Unnamed: 0    52
ID            50
LIMIT_BAL     24
AGE           26
PAY_0          5
PAY_2          4
PAY_3          4
PAY_4          4
PAY_5          4
PAY_6          4
dtype: int64

In [1053]:
df3.nunique()

Unnamed: 0    52
ID            50
LIMIT_BAL     25
EDUCATION      5
PAY_AMT1      34
PAY_AMT2      35
PAY_AMT3      31
PAY_AMT4      32
PAY_AMT5      33
PAY_AMT6      30
dtype: int64

In [1054]:
df4.nunique()

Unnamed: 0                    50
ID                            50
SEX                            3
EDUCATION                      3
MARRIAGE                       3
AGE                           24
default.payment.next.month     2
dtype: int64

In [1055]:
pd.isna(df1).sum()

Unnamed: 0    0
ID            0
LIMIT_BAL     0
SEX           7
BILL_AMT1     0
BILL_AMT2     0
BILL_AMT3     0
BILL_AMT4     0
BILL_AMT5     0
BILL_AMT6     0
dtype: int64

In [1056]:
pd.isna(df2).sum()

Unnamed: 0    0
ID            0
LIMIT_BAL     0
AGE           0
PAY_0         0
PAY_2         0
PAY_3         0
PAY_4         0
PAY_5         0
PAY_6         0
dtype: int64

In [1057]:
pd.isna(df3).sum()

Unnamed: 0    0
ID            0
LIMIT_BAL     0
EDUCATION     0
PAY_AMT1      0
PAY_AMT2      0
PAY_AMT3      0
PAY_AMT4      0
PAY_AMT5      0
PAY_AMT6      0
dtype: int64

In [1058]:
pd.isna(df4).sum()

Unnamed: 0                    0
ID                            0
SEX                           0
EDUCATION                     6
MARRIAGE                      0
AGE                           6
default.payment.next.month    0
dtype: int64

# Unificacion de Datos y Limpieza

In [1059]:
df = pd.merge(df1,df2, left_on='ID', right_on='ID')
df

,Unnamed: 0_x,ID,LIMIT_BAL_x,SEX,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,Unnamed: 0_y,LIMIT_BAL_y,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6
0,0,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,0,20000.0,No info,2,2,-1,-1,-2,-2
1,0,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,10,20000.0,No info,2,2,-1,-1,-2,-2
2,15,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,0,20000.0,No info,2,2,-1,-1,-2,-2
3,15,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,10,20000.0,No info,2,2,-1,-1,-2,-2
4,1,2,120000.0,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,1,120000.0,26 years,-1,2,0,0,0,2
5,2,3,90000.0,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,2,90000.0,34 years,0,0,0,0,0,0
6,3,4,50000.0,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,3,50000.0,37 years,0,0,0,0,0,0
7,4,5,50000.0,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,4,50000.0,57 years,-1,0,-1,0,0,0
8,5,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,5,50000.0,No info,0,0,0,0,0,0
9,35,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,5,50000.0,No info,0,0,0,0,0,0
10,6,7,500000.0,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,6,500000.0,29 years,0,0,0,0,0,0
11,7,8,100000.0,female,11876.0,380.0,601.0,221.0,-159.0,567.0,7,100000.0,23 years,0,-1,-1,0,0,-1
12,8,9,140000.0,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,8,140000.0,28 years,0,0,2,0,0,0
13,9,10,20000.0,male,0.0,0.0,0.0,0.0,13007.0,13912.0,9,20000.0,35 years,-2,-2,-2,-2,-1,-1
14,10,11,200000.0,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,50,-,34 years,0,0,2,0,0,-1
15,11,12,260000.0,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,11,260000.0,51 years,-1,-1,-1,-1,-1,2
16,12,13,630000.0,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,12,630000.0,41 years,-1,0,-1,-1,-1,-1
17,13,14,-,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,13,70000.0,30 years,1,2,2,0,0,2
18,14,15,250000.0,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,14,250000.0,29 years,0,0,0,0,0,0
19,16,17,20000.0,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,16,20000.0,24 years,0,0,2,2,2,2
20,17,18,320000.0,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,17,320000.0,49 years,0,0,0,-1,-1,-1
21,18,19,-,female,0.0,0.0,0.0,0.0,0.0,0.0,18,360000.0,49 years,1,-2,-2,-2,-2,-2
22,19,20,180000.0,female,0.0,0.0,0.0,0.0,0.0,0.0,19,180000.0,29 years,1,-2,-2,-2,-2,-2
23,20,21,130000.0,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,20,130000.0,No info,0,0,0,0,0,-1
24,21,22,120000.0,NaN,316.0,316.0,316.0,0.0,632.0,316.0,21,120000.0,39 years,-1,-1,-1,-1,-1,-1
25,22,23,-,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,22,70000.0,26 years,2,0,0,2,2,2
26,23,24,450000.0,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,23,450000.0,40 years,-2,-2,-2,-2,-2,-2
27,24,25,-,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,24,90000.0,23 years,0,0,0,-1,0,0
28,25,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,25,-,23 years,0,0,0,0,0,0
29,25,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,51,-,23 years,0,0,0,0,0,0
30,26,27,60000.0,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,26,60000.0,27 years,1,-2,-1,-1,-1,-1
31,27,28,50000.0,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,27,50000.0,30 years,0,0,0,0,0,0
32,28,29,50000.0,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,28,50000.0,47 years,-1,-1,-1,-1,-1,-1
33,29,30,50000.0,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,29,50000.0,26 years,0,0,0,0,0,0
34,30,31,230000.0,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,30,-,27 years,-1,-1,-1,-1,-1,-1
35,31,32,50000.0,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,31,50000.0,33 years,2,0,0,0,0,0
36,32,33,100000.0,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32,100000.0,32 years,0,0,0,0,0,0
37,33,34,500000.0,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,33,-,54 years,-2,-2,-2,-2,-2,-2
38,34,35,500000.0,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,34,500000.0,58 years,-2,-2,-2,-2,-2,-2
39,36,37,-,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,36,280000.0,40 years,0,0,0,0,0,0
40,37,38,60000.0,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,37,60000.0,22 years,0,0,0,0,0,-1
41,38,39,50000.0,male,0.0,780.0,0.0,0.0,0.0,0.0,38,50000.0,25 years,1,-1,-1,-2,-2,-2
42,39,40,280000.0,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,39,280000.0,31 years,-1,-1,2,-1,0,-1
43,40,41,360000.0,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,40,360000.0,No info,0,0,0,0,0,0
44,41,42,70000.0,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,41,70000.0,25 years,0,0,0,0,0,0
45,42,43,10000.0,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,42,-,22 years,0,0,0,0,0,0
46,43,44,140000.0,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,43,-,37 years,0,0,0,0,0,0
47,44,45,40000.0,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,44,40000.0,30 years,0,0,0,2,0,0
48,45,46,210000.0,male,0.0,0.0,0.0,0.0,0.0,0.0,45,210000.0,No info,-2,-2,-2,-2,-2,-2
49,46,47,20000.0,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,46,20000.0,22 years,0,0,2,-1,0,0
50,47,48,150000.0,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,47,150000.0,46 years,0,0,-1,0,0,-2
51,48,49,380000.0,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,48,380000.0,32 years,-1,-1,-1,-1,-1,-1
52,49,50,-,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,49,20000.0,24 years,0,0,0,0,0,0
53,50,16,50000.0,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,15,50000.0,No info,1,2,0,0,0,0
54,51,36,160000.0,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,35,160000.0,No info,-1,-1,-2,-2,-2,-1

In [1060]:
df.columns

Index(['Unnamed: 0_x', 'ID', 'LIMIT_BAL_x', 'SEX', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'Unnamed: 0_y',
       'LIMIT_BAL_y', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5',
       'PAY_6'],
      dtype='object')

In [1061]:
df = df.drop(labels=["Unnamed: 0_x","Unnamed: 0_y"], axis=1)
df

,ID,LIMIT_BAL_x,SEX,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,LIMIT_BAL_y,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6
0,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,No info,2,2,-1,-1,-2,-2
1,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,No info,2,2,-1,-1,-2,-2
2,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,No info,2,2,-1,-1,-2,-2
3,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,No info,2,2,-1,-1,-2,-2
4,2,120000.0,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,120000.0,26 years,-1,2,0,0,0,2
5,3,90000.0,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,90000.0,34 years,0,0,0,0,0,0
6,4,50000.0,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,50000.0,37 years,0,0,0,0,0,0
7,5,50000.0,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,50000.0,57 years,-1,0,-1,0,0,0
8,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,50000.0,No info,0,0,0,0,0,0
9,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,50000.0,No info,0,0,0,0,0,0
10,7,500000.0,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,500000.0,29 years,0,0,0,0,0,0
11,8,100000.0,female,11876.0,380.0,601.0,221.0,-159.0,567.0,100000.0,23 years,0,-1,-1,0,0,-1
12,9,140000.0,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,140000.0,28 years,0,0,2,0,0,0
13,10,20000.0,male,0.0,0.0,0.0,0.0,13007.0,13912.0,20000.0,35 years,-2,-2,-2,-2,-1,-1
14,11,200000.0,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,-,34 years,0,0,2,0,0,-1
15,12,260000.0,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,260000.0,51 years,-1,-1,-1,-1,-1,2
16,13,630000.0,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,630000.0,41 years,-1,0,-1,-1,-1,-1
17,14,-,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,70000.0,30 years,1,2,2,0,0,2
18,15,250000.0,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,250000.0,29 years,0,0,0,0,0,0
19,17,20000.0,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,20000.0,24 years,0,0,2,2,2,2
20,18,320000.0,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,320000.0,49 years,0,0,0,-1,-1,-1
21,19,-,female,0.0,0.0,0.0,0.0,0.0,0.0,360000.0,49 years,1,-2,-2,-2,-2,-2
22,20,180000.0,female,0.0,0.0,0.0,0.0,0.0,0.0,180000.0,29 years,1,-2,-2,-2,-2,-2
23,21,130000.0,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,130000.0,No info,0,0,0,0,0,-1
24,22,120000.0,NaN,316.0,316.0,316.0,0.0,632.0,316.0,120000.0,39 years,-1,-1,-1,-1,-1,-1
25,23,-,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,70000.0,26 years,2,0,0,2,2,2
26,24,450000.0,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,450000.0,40 years,-2,-2,-2,-2,-2,-2
27,25,-,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,90000.0,23 years,0,0,0,-1,0,0
28,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,-,23 years,0,0,0,0,0,0
29,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,-,23 years,0,0,0,0,0,0
30,27,60000.0,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,60000.0,27 years,1,-2,-1,-1,-1,-1
31,28,50000.0,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,50000.0,30 years,0,0,0,0,0,0
32,29,50000.0,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,50000.0,47 years,-1,-1,-1,-1,-1,-1
33,30,50000.0,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,50000.0,26 years,0,0,0,0,0,0
34,31,230000.0,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,-,27 years,-1,-1,-1,-1,-1,-1
35,32,50000.0,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,50000.0,33 years,2,0,0,0,0,0
36,33,100000.0,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,100000.0,32 years,0,0,0,0,0,0
37,34,500000.0,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,-,54 years,-2,-2,-2,-2,-2,-2
38,35,500000.0,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,500000.0,58 years,-2,-2,-2,-2,-2,-2
39,37,-,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,280000.0,40 years,0,0,0,0,0,0
40,38,60000.0,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,60000.0,22 years,0,0,0,0,0,-1
41,39,50000.0,male,0.0,780.0,0.0,0.0,0.0,0.0,50000.0,25 years,1,-1,-1,-2,-2,-2
42,40,280000.0,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,280000.0,31 years,-1,-1,2,-1,0,-1
43,41,360000.0,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,360000.0,No info,0,0,0,0,0,0
44,42,70000.0,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,70000.0,25 years,0,0,0,0,0,0
45,43,10000.0,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,-,22 years,0,0,0,0,0,0
46,44,140000.0,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,-,37 years,0,0,0,0,0,0
47,45,40000.0,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,40000.0,30 years,0,0,0,2,0,0
48,46,210000.0,male,0.0,0.0,0.0,0.0,0.0,0.0,210000.0,No info,-2,-2,-2,-2,-2,-2
49,47,20000.0,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,20000.0,22 years,0,0,2,-1,0,0
50,48,150000.0,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,150000.0,46 years,0,0,-1,0,0,-2
51,49,380000.0,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,380000.0,32 years,-1,-1,-1,-1,-1,-1
52,50,-,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,20000.0,24 years,0,0,0,0,0,0
53,16,50000.0,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,50000.0,No info,1,2,0,0,0,0
54,36,160000.0,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,160000.0,No info,-1,-1,-2,-2,-2,-1

In [1062]:
df.columns

Index(['ID', 'LIMIT_BAL_x', 'SEX', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3',
       'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'LIMIT_BAL_y', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6'],
      dtype='object')

In [1063]:
#ynan limit_bal_y = nan
ynan = np.where(df['LIMIT_BAL_x']=='-', df['LIMIT_BAL_y'], df['LIMIT_BAL_x'])
df['LIMIT_BAL'] = np.where(df['LIMIT_BAL_x']==df['LIMIT_BAL_y'], df['LIMIT_BAL_x'], ynan)
df

,ID,LIMIT_BAL_x,SEX,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,LIMIT_BAL_y,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,LIMIT_BAL
0,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,No info,2,2,-1,-1,-2,-2,20000.0
1,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,No info,2,2,-1,-1,-2,-2,20000.0
2,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,No info,2,2,-1,-1,-2,-2,20000.0
3,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,No info,2,2,-1,-1,-2,-2,20000.0
4,2,120000.0,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,120000.0,26 years,-1,2,0,0,0,2,120000.0
5,3,90000.0,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,90000.0,34 years,0,0,0,0,0,0,90000.0
6,4,50000.0,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,50000.0,37 years,0,0,0,0,0,0,50000.0
7,5,50000.0,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,50000.0,57 years,-1,0,-1,0,0,0,50000.0
8,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,50000.0,No info,0,0,0,0,0,0,50000.0
9,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,50000.0,No info,0,0,0,0,0,0,50000.0
10,7,500000.0,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,500000.0,29 years,0,0,0,0,0,0,500000.0
11,8,100000.0,female,11876.0,380.0,601.0,221.0,-159.0,567.0,100000.0,23 years,0,-1,-1,0,0,-1,100000.0
12,9,140000.0,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,140000.0,28 years,0,0,2,0,0,0,140000.0
13,10,20000.0,male,0.0,0.0,0.0,0.0,13007.0,13912.0,20000.0,35 years,-2,-2,-2,-2,-1,-1,20000.0
14,11,200000.0,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,-,34 years,0,0,2,0,0,-1,200000.0
15,12,260000.0,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,260000.0,51 years,-1,-1,-1,-1,-1,2,260000.0
16,13,630000.0,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,630000.0,41 years,-1,0,-1,-1,-1,-1,630000.0
17,14,-,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,70000.0,30 years,1,2,2,0,0,2,70000.0
18,15,250000.0,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,250000.0,29 years,0,0,0,0,0,0,250000.0
19,17,20000.0,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,20000.0,24 years,0,0,2,2,2,2,20000.0
20,18,320000.0,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,320000.0,49 years,0,0,0,-1,-1,-1,320000.0
21,19,-,female,0.0,0.0,0.0,0.0,0.0,0.0,360000.0,49 years,1,-2,-2,-2,-2,-2,360000.0
22,20,180000.0,female,0.0,0.0,0.0,0.0,0.0,0.0,180000.0,29 years,1,-2,-2,-2,-2,-2,180000.0
23,21,130000.0,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,130000.0,No info,0,0,0,0,0,-1,130000.0
24,22,120000.0,NaN,316.0,316.0,316.0,0.0,632.0,316.0,120000.0,39 years,-1,-1,-1,-1,-1,-1,120000.0
25,23,-,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,70000.0,26 years,2,0,0,2,2,2,70000.0
26,24,450000.0,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,450000.0,40 years,-2,-2,-2,-2,-2,-2,450000.0
27,25,-,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,90000.0,23 years,0,0,0,-1,0,0,90000.0
28,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,-,23 years,0,0,0,0,0,0,50000.0
29,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,-,23 years,0,0,0,0,0,0,50000.0
30,27,60000.0,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,60000.0,27 years,1,-2,-1,-1,-1,-1,60000.0
31,28,50000.0,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,50000.0,30 years,0,0,0,0,0,0,50000.0
32,29,50000.0,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,50000.0,47 years,-1,-1,-1,-1,-1,-1,50000.0
33,30,50000.0,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,50000.0,26 years,0,0,0,0,0,0,50000.0
34,31,230000.0,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,-,27 years,-1,-1,-1,-1,-1,-1,230000.0
35,32,50000.0,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,50000.0,33 years,2,0,0,0,0,0,50000.0
36,33,100000.0,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,100000.0,32 years,0,0,0,0,0,0,100000.0
37,34,500000.0,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,-,54 years,-2,-2,-2,-2,-2,-2,500000.0
38,35,500000.0,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,500000.0,58 years,-2,-2,-2,-2,-2,-2,500000.0
39,37,-,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,280000.0,40 years,0,0,0,0,0,0,280000.0
40,38,60000.0,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,60000.0,22 years,0,0,0,0,0,-1,60000.0
41,39,50000.0,male,0.0,780.0,0.0,0.0,0.0,0.0,50000.0,25 years,1,-1,-1,-2,-2,-2,50000.0
42,40,280000.0,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,280000.0,31 years,-1,-1,2,-1,0,-1,280000.0
43,41,360000.0,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,360000.0,No info,0,0,0,0,0,0,360000.0
44,42,70000.0,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,70000.0,25 years,0,0,0,0,0,0,70000.0
45,43,10000.0,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,-,22 years,0,0,0,0,0,0,10000.0
46,44,140000.0,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,-,37 years,0,0,0,0,0,0,140000.0
47,45,40000.0,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,40000.0,30 years,0,0,0,2,0,0,40000.0
48,46,210000.0,male,0.0,0.0,0.0,0.0,0.0,0.0,210000.0,No info,-2,-2,-2,-2,-2,-2,210000.0
49,47,20000.0,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,20000.0,22 years,0,0,2,-1,0,0,20000.0
50,48,150000.0,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,150000.0,46 years,0,0,-1,0,0,-2,150000.0
51,49,380000.0,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,380000.0,32 years,-1,-1,-1,-1,-1,-1,380000.0
52,50,-,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,20000.0,24 years,0,0,0,0,0,0,20000.0
53,16,50000.0,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,50000.0,No info,1,2,0,0,0,0,50000.0
54,36,160000.0,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,160000.0,No info,-1,-1,-2,-2,-2,-1,160000.0

In [1064]:
df = df.drop(labels=["LIMIT_BAL_x","LIMIT_BAL_y"], axis=1)
df

,ID,SEX,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,LIMIT_BAL
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,2,-1,-1,-2,-2,20000.0
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,2,-1,-1,-2,-2,20000.0
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,2,-1,-1,-2,-2,20000.0
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,2,-1,-1,-2,-2,20000.0
4,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 years,-1,2,0,0,0,2,120000.0
5,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 years,0,0,0,0,0,0,90000.0
6,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,0,0,0,0,0,50000.0
7,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 years,-1,0,-1,0,0,0,50000.0
8,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,0,0,0,0,0,50000.0
9,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,0,0,0,0,0,50000.0
10,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 years,0,0,0,0,0,0,500000.0
11,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 years,0,-1,-1,0,0,-1,100000.0
12,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 years,0,0,2,0,0,0,140000.0
13,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 years,-2,-2,-2,-2,-1,-1,20000.0
14,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,0,2,0,0,-1,200000.0
15,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 years,-1,-1,-1,-1,-1,2,260000.0
16,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 years,-1,0,-1,-1,-1,-1,630000.0
17,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 years,1,2,2,0,0,2,70000.0
18,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 years,0,0,0,0,0,0,250000.0
19,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 years,0,0,2,2,2,2,20000.0
20,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 years,0,0,0,-1,-1,-1,320000.0
21,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 years,1,-2,-2,-2,-2,-2,360000.0
22,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 years,1,-2,-2,-2,-2,-2,180000.0
23,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,No info,0,0,0,0,0,-1,130000.0
24,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 years,-1,-1,-1,-1,-1,-1,120000.0
25,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 years,2,0,0,2,2,2,70000.0
26,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 years,-2,-2,-2,-2,-2,-2,450000.0
27,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 years,0,0,0,-1,0,0,90000.0
28,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,0,0,0,0,0,50000.0
29,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,0,0,0,0,0,50000.0
30,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 years,1,-2,-1,-1,-1,-1,60000.0
31,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 years,0,0,0,0,0,0,50000.0
32,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 years,-1,-1,-1,-1,-1,-1,50000.0
33,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 years,0,0,0,0,0,0,50000.0
34,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,-1,-1,-1,-1,-1,230000.0
35,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 years,2,0,0,0,0,0,50000.0
36,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 years,0,0,0,0,0,0,100000.0
37,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,-2,-2,-2,-2,-2,500000.0
38,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 years,-2,-2,-2,-2,-2,-2,500000.0
39,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 years,0,0,0,0,0,0,280000.0
40,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 years,0,0,0,0,0,-1,60000.0
41,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 years,1,-1,-1,-2,-2,-2,50000.0
42,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 years,-1,-1,2,-1,0,-1,280000.0
43,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,No info,0,0,0,0,0,0,360000.0
44,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 years,0,0,0,0,0,0,70000.0
45,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,0,0,0,0,0,10000.0
46,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,0,0,0,0,0,140000.0
47,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 years,0,0,0,2,0,0,40000.0
48,46,male,0.0,0.0,0.0,0.0,0.0,0.0,No info,-2,-2,-2,-2,-2,-2,210000.0
49,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 years,0,0,2,-1,0,0,20000.0
50,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 years,0,0,-1,0,0,-2,150000.0
51,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 years,-1,-1,-1,-1,-1,-1,380000.0
52,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 years,0,0,0,0,0,0,20000.0
53,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,No info,1,2,0,0,0,0,50000.0
54,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,No info,-1,-1,-2,-2,-2,-1,160000.0

In [1065]:
df.columns

Index(['ID', 'SEX', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'LIMIT_BAL'],
      dtype='object')

In [1066]:
df = pd.merge(df,df3, left_on='ID', right_on='ID')
df

,ID,SEX,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE,PAY_0,...,LIMIT_BAL_x,Unnamed: 0,LIMIT_BAL_y,EDUCATION,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,35,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,35,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,35,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,35,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 years,-1,...,120000.0,1,120000.0,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 years,0,...,90000.0,2,90000.0,Null,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,50000.0,3,-,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,50000.0,45,-,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 years,-1,...,50000.0,4,50000.0,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,50000.0,5,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,50000.0,5,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 years,0,...,500000.0,6,-,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 years,0,...,100000.0,7,100000.0,2,380.0,601.0,0.0,581.0,1687.0,1542.0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 years,0,...,140000.0,8,140000.0,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 years,-2,...,20000.0,9,20000.0,Null,0.0,0.0,0.0,13007.0,1122.0,0.0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,200000.0,10,200000.0,3,2306.0,12.0,50.0,300.0,3738.0,66.0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 years,-1,...,260000.0,11,260000.0,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 years,-1,...,630000.0,12,630000.0,Null,1000.0,6500.0,6500.0,6500.0,2870.0,0.0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 years,1,...,70000.0,13,70000.0,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 years,0,...,250000.0,14,250000.0,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 years,0,...,20000.0,16,20000.0,1,3200.0,0.0,1500.0,0.0,1650.0,0.0
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 years,0,...,320000.0,17,320000.0,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 years,1,...,360000.0,18,360000.0,1,0.0,0.0,0.0,0.0,0.0,0.0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 years,1,...,180000.0,19,180000.0,1,0.0,0.0,0.0,0.0,0.0,0.0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,No info,0,...,130000.0,20,130000.0,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 years,-1,...,120000.0,21,120000.0,2,316.0,316.0,0.0,632.0,316.0,0.0
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 years,2,...,70000.0,22,70000.0,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 years,-2,...,450000.0,23,450000.0,Null,19428.0,1473.0,560.0,0.0,0.0,1128.0
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 years,0,...,90000.0,24,90000.0,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,50000.0,25,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,50000.0,25,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 years,1,...,60000.0,26,-,1,0.0,1000.0,0.0,500.0,0.0,1000.0
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 years,0,...,50000.0,27,-,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 years,-1,...,50000.0,28,50000.0,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 years,0,...,50000.0,29,50000.0,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,230000.0,30,230000.0,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 years,2,...,50000.0,31,50000.0,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 years,0,...,100000.0,32,100000.0,Null,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,500000.0,33,500000.0,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 years,-2,...,500000.0,34,500000.0,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 years,0,...,280000.0,36,280000.0,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 years,0,...,60000.0,37,-,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 years,1,...,50000.0,38,50000.0,1,780.0,0.0,0.0,0.0,0.0,0.0
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 years,-1,...,280000.0,39,280000.0,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,No info,0,...,360000.0,40,360000.0,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 years,0,...,70000.0,41,70000.0,Null,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,10000.0,42,10000.0,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,140000.0,43,140000.0,Null,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 years,0,...,40000.0,44,40000.0,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,No info,-2,...,210000.0,51,210000.0,1,0.0,0.0,0.0,0.0,0.0,0.0
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 years,0,...,20000.0,46,20000.0,1,3000.0,0.0,16741.0,334.0,0.0,0.0
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 years,0,...,150000.0,47,-,5,1013.0,1170.0,0.0,0.0,0.0,0.0
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 years,-1,...,380000.0,48,380000.0,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 years,0,...,20000.0,49,20000.0,1,1318.0,1315.0,704.0,928.0,912.0,1069.0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,No info,1,...,50000.0,15,50000.0,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,No info,-1,...,160000.0,50,160000.0,1,131.0,396.0,396.0,565.0,792.0,0.0

In [1067]:
df.columns

Index(['ID', 'SEX', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'LIMIT_BAL_x', 'Unnamed: 0', 'LIMIT_BAL_y',
       'EDUCATION', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5',
       'PAY_AMT6'],
      dtype='object')

In [1068]:
df = df.drop(labels=["Unnamed: 0"], axis=1)
df

,ID,SEX,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE,PAY_0,...,PAY_6,LIMIT_BAL_x,LIMIT_BAL_y,EDUCATION,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 years,-1,...,2,120000.0,120000.0,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 years,0,...,0,90000.0,90000.0,Null,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,0,50000.0,-,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,0,50000.0,-,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 years,-1,...,0,50000.0,50000.0,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,0,50000.0,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,0,50000.0,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 years,0,...,0,500000.0,-,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 years,0,...,-1,100000.0,100000.0,2,380.0,601.0,0.0,581.0,1687.0,1542.0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 years,0,...,0,140000.0,140000.0,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 years,-2,...,-1,20000.0,20000.0,Null,0.0,0.0,0.0,13007.0,1122.0,0.0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,-1,200000.0,200000.0,3,2306.0,12.0,50.0,300.0,3738.0,66.0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 years,-1,...,2,260000.0,260000.0,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 years,-1,...,-1,630000.0,630000.0,Null,1000.0,6500.0,6500.0,6500.0,2870.0,0.0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 years,1,...,2,70000.0,70000.0,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 years,0,...,0,250000.0,250000.0,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 years,0,...,2,20000.0,20000.0,1,3200.0,0.0,1500.0,0.0,1650.0,0.0
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 years,0,...,-1,320000.0,320000.0,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 years,1,...,-2,360000.0,360000.0,1,0.0,0.0,0.0,0.0,0.0,0.0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 years,1,...,-2,180000.0,180000.0,1,0.0,0.0,0.0,0.0,0.0,0.0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,No info,0,...,-1,130000.0,130000.0,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 years,-1,...,-1,120000.0,120000.0,2,316.0,316.0,0.0,632.0,316.0,0.0
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 years,2,...,2,70000.0,70000.0,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 years,-2,...,-2,450000.0,450000.0,Null,19428.0,1473.0,560.0,0.0,0.0,1128.0
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 years,0,...,0,90000.0,90000.0,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,0,50000.0,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,0,50000.0,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 years,1,...,-1,60000.0,-,1,0.0,1000.0,0.0,500.0,0.0,1000.0
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 years,0,...,0,50000.0,-,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 years,-1,...,-1,50000.0,50000.0,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 years,0,...,0,50000.0,50000.0,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,-1,230000.0,230000.0,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 years,2,...,0,50000.0,50000.0,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 years,0,...,0,100000.0,100000.0,Null,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,-2,500000.0,500000.0,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 years,-2,...,-2,500000.0,500000.0,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 years,0,...,0,280000.0,280000.0,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 years,0,...,-1,60000.0,-,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 years,1,...,-2,50000.0,50000.0,1,780.0,0.0,0.0,0.0,0.0,0.0
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 years,-1,...,-1,280000.0,280000.0,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,No info,0,...,0,360000.0,360000.0,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 years,0,...,0,70000.0,70000.0,Null,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,0,10000.0,10000.0,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,0,140000.0,140000.0,Null,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 years,0,...,0,40000.0,40000.0,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,No info,-2,...,-2,210000.0,210000.0,1,0.0,0.0,0.0,0.0,0.0,0.0
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 years,0,...,0,20000.0,20000.0,1,3000.0,0.0,16741.0,334.0,0.0,0.0
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 years,0,...,-2,150000.0,-,5,1013.0,1170.0,0.0,0.0,0.0,0.0
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 years,-1,...,-1,380000.0,380000.0,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 years,0,...,0,20000.0,20000.0,1,1318.0,1315.0,704.0,928.0,912.0,1069.0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,No info,1,...,0,50000.0,50000.0,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,No info,-1,...,-1,160000.0,160000.0,1,131.0,396.0,396.0,565.0,792.0,0.0

In [1069]:
#ynan limit_bal_y = nan
ynan = np.where(df['LIMIT_BAL_x']=='-', df['LIMIT_BAL_y'], df['LIMIT_BAL_x'])
df['LIMIT_BAL'] = np.where(df['LIMIT_BAL_x']==df['LIMIT_BAL_y'], df['LIMIT_BAL_x'], ynan)
df

,ID,SEX,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE,PAY_0,...,LIMIT_BAL_x,LIMIT_BAL_y,EDUCATION,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,LIMIT_BAL
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,20000.0,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 years,-1,...,120000.0,120000.0,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0,120000.0
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 years,0,...,90000.0,90000.0,Null,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,90000.0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,50000.0,-,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,50000.0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,50000.0,-,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,50000.0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 years,-1,...,50000.0,50000.0,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0,50000.0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,50000.0,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,50000.0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,50000.0,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,50000.0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 years,0,...,500000.0,-,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,500000.0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 years,0,...,100000.0,100000.0,2,380.0,601.0,0.0,581.0,1687.0,1542.0,100000.0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 years,0,...,140000.0,140000.0,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0,140000.0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 years,-2,...,20000.0,20000.0,Null,0.0,0.0,0.0,13007.0,1122.0,0.0,20000.0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,200000.0,200000.0,3,2306.0,12.0,50.0,300.0,3738.0,66.0,200000.0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 years,-1,...,260000.0,260000.0,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,260000.0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 years,-1,...,630000.0,630000.0,Null,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,630000.0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 years,1,...,70000.0,70000.0,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0,70000.0
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 years,0,...,250000.0,250000.0,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,250000.0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 years,0,...,20000.0,20000.0,1,3200.0,0.0,1500.0,0.0,1650.0,0.0,20000.0
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 years,0,...,320000.0,320000.0,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,320000.0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 years,1,...,360000.0,360000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,360000.0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 years,1,...,180000.0,180000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,180000.0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,No info,0,...,130000.0,130000.0,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,130000.0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 years,-1,...,120000.0,120000.0,2,316.0,316.0,0.0,632.0,316.0,0.0,120000.0
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 years,2,...,70000.0,70000.0,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0,70000.0
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 years,-2,...,450000.0,450000.0,Null,19428.0,1473.0,560.0,0.0,0.0,1128.0,450000.0
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 years,0,...,90000.0,90000.0,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,90000.0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,50000.0,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,50000.0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,50000.0,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,50000.0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 years,1,...,60000.0,-,1,0.0,1000.0,0.0,500.0,0.0,1000.0,60000.0
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 years,0,...,50000.0,-,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,50000.0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 years,-1,...,50000.0,50000.0,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0,50000.0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 years,0,...,50000.0,50000.0,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,50000.0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,230000.0,230000.0,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,230000.0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 years,2,...,50000.0,50000.0,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,50000.0
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 years,0,...,100000.0,100000.0,Null,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,100000.0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,500000.0,500000.0,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,500000.0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 years,-2,...,500000.0,500000.0,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0,500000.0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 years,0,...,280000.0,280000.0,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,280000.0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 years,0,...,60000.0,-,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0,60000.0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 years,1,...,50000.0,50000.0,1,780.0,0.0,0.0,0.0,0.0,0.0,50000.0
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 years,-1,...,280000.0,280000.0,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0,280000.0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,No info,0,...,360000.0,360000.0,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,360000.0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 years,0,...,70000.0,70000.0,Null,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,70000.0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,10000.0,10000.0,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0,10000.0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,140000.0,140000.0,Null,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,140000.0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 years,0,...,40000.0,40000.0,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0,40000.0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,No info,-2,...,210000.0,210000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,210000.0
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 years,0,...,20000.0,20000.0,1,3000.0,0.0,16741.0,334.0,0.0,0.0,20000.0
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 years,0,...,150000.0,-,5,1013.0,1170.0,0.0,0.0,0.0,0.0,150000.0
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 years,-1,...,380000.0,380000.0,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,380000.0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 years,0,...,20000.0,20000.0,1,1318.0,1315.0,704.0,928.0,912.0,1069.0,20000.0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,No info,1,...,50000.0,50000.0,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,50000.0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,No info,-1,...,160000.0,160000.0,1,131.0,396.0,396.0,565.0,792.0,0.0,160000.0

In [1070]:
df = df.drop(labels=["LIMIT_BAL_x","LIMIT_BAL_y"], axis=1)
df

,ID,SEX,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE,PAY_0,...,PAY_5,PAY_6,EDUCATION,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,LIMIT_BAL
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,-2,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,-2,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,-2,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,-2,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,-2,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,-2,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,-2,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,-2,-2,2,0.0,689.0,0.0,0.0,0.0,0.0,20000.0
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 years,-1,...,0,2,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0,120000.0
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 years,0,...,0,0,Null,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,90000.0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,0,0,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,50000.0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,0,0,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,50000.0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 years,-1,...,0,0,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0,50000.0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,0,0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,50000.0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,0,0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,50000.0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 years,0,...,0,0,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,500000.0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 years,0,...,0,-1,2,380.0,601.0,0.0,581.0,1687.0,1542.0,100000.0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 years,0,...,0,0,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0,140000.0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 years,-2,...,-1,-1,Null,0.0,0.0,0.0,13007.0,1122.0,0.0,20000.0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,0,-1,3,2306.0,12.0,50.0,300.0,3738.0,66.0,200000.0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 years,-1,...,-1,2,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,260000.0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 years,-1,...,-1,-1,Null,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,630000.0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 years,1,...,0,2,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0,70000.0
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 years,0,...,0,0,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,250000.0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 years,0,...,2,2,1,3200.0,0.0,1500.0,0.0,1650.0,0.0,20000.0
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 years,0,...,-1,-1,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,320000.0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 years,1,...,-2,-2,1,0.0,0.0,0.0,0.0,0.0,0.0,360000.0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 years,1,...,-2,-2,1,0.0,0.0,0.0,0.0,0.0,0.0,180000.0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,No info,0,...,0,-1,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,130000.0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 years,-1,...,-1,-1,2,316.0,316.0,0.0,632.0,316.0,0.0,120000.0
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 years,2,...,2,2,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0,70000.0
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 years,-2,...,-2,-2,Null,19428.0,1473.0,560.0,0.0,0.0,1128.0,450000.0
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 years,0,...,0,0,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,90000.0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,0,0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,50000.0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,0,0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,50000.0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 years,1,...,-1,-1,1,0.0,1000.0,0.0,500.0,0.0,1000.0,60000.0
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 years,0,...,0,0,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,50000.0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 years,-1,...,-1,-1,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0,50000.0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 years,0,...,0,0,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,50000.0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,-1,-1,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,230000.0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 years,2,...,0,0,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,50000.0
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 years,0,...,0,0,Null,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,100000.0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,-2,-2,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,500000.0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 years,-2,...,-2,-2,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0,500000.0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 years,0,...,0,0,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,280000.0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 years,0,...,0,-1,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0,60000.0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 years,1,...,-2,-2,1,780.0,0.0,0.0,0.0,0.0,0.0,50000.0
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 years,-1,...,0,-1,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0,280000.0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,No info,0,...,0,0,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,360000.0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 years,0,...,0,0,Null,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,70000.0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,0,0,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0,10000.0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,0,0,Null,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,140000.0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 years,0,...,0,0,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0,40000.0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,No info,-2,...,-2,-2,1,0.0,0.0,0.0,0.0,0.0,0.0,210000.0
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 years,0,...,0,0,1,3000.0,0.0,16741.0,334.0,0.0,0.0,20000.0
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 years,0,...,0,-2,5,1013.0,1170.0,0.0,0.0,0.0,0.0,150000.0
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 years,-1,...,-1,-1,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,380000.0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 years,0,...,0,0,1,1318.0,1315.0,704.0,928.0,912.0,1069.0,20000.0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,No info,1,...,0,0,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,50000.0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,No info,-1,...,-2,-1,1,131.0,396.0,396.0,565.0,792.0,0.0,160000.0

In [1071]:
df.columns

Index(['ID', 'SEX', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'EDUCATION', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'LIMIT_BAL'],
      dtype='object')

In [1072]:
df = pd.merge(df,df4, left_on='ID', right_on='ID')
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,LIMIT_BAL,Unnamed: 0,SEX_y,EDUCATION_y,MARRIAGE,AGE_y,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,20000.0,0,2,2.0,1,24.0,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,20000.0,0,2,2.0,1,24.0,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,20000.0,0,2,2.0,1,24.0,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,20000.0,0,2,2.0,1,24.0,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,20000.0,0,2,2.0,1,24.0,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,20000.0,0,2,2.0,1,24.0,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,20000.0,0,2,2.0,1,24.0,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,20000.0,0,2,2.0,1,24.0,1
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 years,-1,...,1000.0,0.0,2000.0,120000.0,1,2,2.0,2,26.0,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 years,0,...,1000.0,1000.0,5000.0,90000.0,2,2,2.0,2,34.0,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,1100.0,1069.0,1000.0,50000.0,3,2,NaN,1,37.0,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,1100.0,1069.0,1000.0,50000.0,3,2,NaN,1,37.0,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 years,-1,...,9000.0,689.0,679.0,50000.0,4,1,2.0,1,57.0,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,1000.0,1000.0,800.0,50000.0,5,1,1.0,2,37.0,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,1000.0,1000.0,800.0,50000.0,5,1,1.0,2,37.0,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 years,0,...,20239.0,13750.0,13770.0,500000.0,6,1,NaN,2,29.0,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 years,0,...,581.0,1687.0,1542.0,100000.0,7,2,2.0,2,23.0,0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 years,0,...,1000.0,1000.0,1000.0,140000.0,8,2,3.0,1,28.0,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 years,-2,...,13007.0,1122.0,0.0,20000.0,9,1,3.0,2,35.0,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,300.0,3738.0,66.0,200000.0,10,2,3.0,2,NaN,0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 years,-1,...,22301.0,0.0,3640.0,260000.0,11,2,1.0,2,51.0,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 years,-1,...,6500.0,2870.0,0.0,630000.0,12,2,2.0,2,41.0,0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 years,1,...,3000.0,1500.0,0.0,70000.0,13,Nan,2.0,2,30.0,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 years,0,...,3000.0,3000.0,3000.0,250000.0,14,1,1.0,2,29.0,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 years,0,...,0.0,1650.0,0.0,20000.0,16,1,1.0,2,24.0,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 years,0,...,20000.0,195599.0,50000.0,320000.0,17,1,1.0,1,49.0,0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 years,1,...,0.0,0.0,0.0,360000.0,18,Nan,1.0,1,49.0,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 years,1,...,0.0,0.0,0.0,180000.0,19,2,1.0,2,29.0,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,No info,0,...,2000.0,930.0,33764.0,130000.0,20,2,3.0,2,39.0,0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 years,-1,...,632.0,316.0,0.0,120000.0,21,2,2.0,1,39.0,1
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 years,2,...,3601.0,0.0,1820.0,70000.0,22,Nan,2.0,2,26.0,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 years,-2,...,0.0,0.0,1128.0,450000.0,23,2,1.0,1,40.0,1
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 years,0,...,1200.0,2045.0,2000.0,90000.0,24,Nan,1.0,2,23.0,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1432.0,1062.0,997.0,50000.0,25,1,3.0,2,NaN,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1432.0,1062.0,997.0,50000.0,25,1,3.0,2,NaN,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 years,1,...,500.0,0.0,1000.0,60000.0,26,1,NaN,2,27.0,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 years,0,...,1500.0,1000.0,1012.0,50000.0,27,2,NaN,2,30.0,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 years,-1,...,30430.0,257.0,0.0,50000.0,28,2,3.0,1,47.0,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 years,0,...,1000.0,1600.0,0.0,50000.0,29,1,1.0,2,26.0,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,14307.0,37292.0,0.0,230000.0,30,2,1.0,2,NaN,0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 years,2,...,1000.0,1000.0,716.0,50000.0,31,1,2.0,2,33.0,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 years,0,...,3204.0,3200.0,2504.0,100000.0,32,1,1.0,2,32.0,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,71439.0,981.0,51582.0,500000.0,33,2,2.0,1,NaN,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 years,-2,...,0.0,5293.0,768.0,500000.0,34,1,1.0,1,58.0,0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 years,0,...,6400.0,6400.0,6737.0,280000.0,36,Nan,2.0,1,40.0,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 years,0,...,0.0,47671.0,617.0,60000.0,37,2,NaN,2,22.0,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 years,1,...,0.0,0.0,0.0,50000.0,38,1,1.0,2,25.0,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 years,-1,...,8000.0,9525.0,781.0,280000.0,39,1,1.0,2,31.0,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,No info,0,...,188840.0,28000.0,4000.0,360000.0,40,1,1.0,2,33.0,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 years,0,...,2500.0,2800.0,2500.0,70000.0,41,2,1.0,2,25.0,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,300.0,1000.0,500.0,10000.0,42,1,2.0,2,NaN,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,4000.0,4000.0,3000.0,140000.0,43,2,2.0,1,NaN,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 years,0,...,2000.0,3000.0,0.0,40000.0,44,2,1.0,2,30.0,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,No info,-2,...,0.0,0.0,0.0,210000.0,45,1,1.0,2,29.0,1
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 years,0,...,334.0,0.0,0.0,20000.0,46,2,1.0,2,22.0,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 years,0,...,0.0,0.0,0.0,150000.0,47,2,NaN,2,46.0,1
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 years,-1,...,11851.0,11875.0,8251.0,380000.0,48,1,2.0,2,32.0,0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 years,0,...,928.0,912.0,1069.0,20000.0,49,Nan,1.0,2,24.0,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,No info,1,...,1200.0,1300.0,1100.0,50000.0,15,2,3.0,3,23.0,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,No info,-1,...,565.0,792.0,0.0,160000.0,35,1,1.0,2,30.0,0

In [1073]:
df.columns

Index(['ID', 'SEX_x', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'AGE_x', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'EDUCATION_x', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'LIMIT_BAL', 'Unnamed: 0', 'SEX_y',
       'EDUCATION_y', 'MARRIAGE', 'AGE_y', 'default.payment.next.month'],
      dtype='object')

In [1074]:
df = df.drop(labels=["Unnamed: 0"], axis=1)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,LIMIT_BAL,SEX_y,EDUCATION_y,MARRIAGE,AGE_y,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 years,-1,...,1000.0,1000.0,0.0,2000.0,120000.0,2,2.0,2,26.0,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 years,0,...,1000.0,1000.0,1000.0,5000.0,90000.0,2,2.0,2,34.0,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,1200.0,1100.0,1069.0,1000.0,50000.0,2,NaN,1,37.0,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,1200.0,1100.0,1069.0,1000.0,50000.0,2,NaN,1,37.0,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 years,-1,...,10000.0,9000.0,689.0,679.0,50000.0,1,2.0,1,57.0,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,657.0,1000.0,1000.0,800.0,50000.0,1,1.0,2,37.0,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,657.0,1000.0,1000.0,800.0,50000.0,1,1.0,2,37.0,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 years,0,...,38000.0,20239.0,13750.0,13770.0,500000.0,1,NaN,2,29.0,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 years,0,...,0.0,581.0,1687.0,1542.0,100000.0,2,2.0,2,23.0,0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 years,0,...,432.0,1000.0,1000.0,1000.0,140000.0,2,3.0,1,28.0,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 years,-2,...,0.0,13007.0,1122.0,0.0,20000.0,1,3.0,2,35.0,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,50.0,300.0,3738.0,66.0,200000.0,2,3.0,2,NaN,0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 years,-1,...,8583.0,22301.0,0.0,3640.0,260000.0,2,1.0,2,51.0,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 years,-1,...,6500.0,6500.0,2870.0,0.0,630000.0,2,2.0,2,41.0,0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 years,1,...,3000.0,3000.0,1500.0,0.0,70000.0,Nan,2.0,2,30.0,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 years,0,...,3000.0,3000.0,3000.0,3000.0,250000.0,1,1.0,2,29.0,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 years,0,...,1500.0,0.0,1650.0,0.0,20000.0,1,1.0,2,24.0,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 years,0,...,75940.0,20000.0,195599.0,50000.0,320000.0,1,1.0,1,49.0,0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 years,1,...,0.0,0.0,0.0,0.0,360000.0,Nan,1.0,1,49.0,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 years,1,...,0.0,0.0,0.0,0.0,180000.0,2,1.0,2,29.0,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,No info,0,...,1000.0,2000.0,930.0,33764.0,130000.0,2,3.0,2,39.0,0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 years,-1,...,0.0,632.0,316.0,0.0,120000.0,2,2.0,1,39.0,1
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 years,2,...,0.0,3601.0,0.0,1820.0,70000.0,Nan,2.0,2,26.0,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 years,-2,...,560.0,0.0,0.0,1128.0,450000.0,2,1.0,1,40.0,1
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 years,0,...,5398.0,1200.0,2045.0,2000.0,90000.0,Nan,1.0,2,23.0,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1001.0,1432.0,1062.0,997.0,50000.0,1,3.0,2,NaN,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1001.0,1432.0,1062.0,997.0,50000.0,1,3.0,2,NaN,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 years,1,...,0.0,500.0,0.0,1000.0,60000.0,1,NaN,2,27.0,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 years,0,...,1000.0,1500.0,1000.0,1012.0,50000.0,2,NaN,2,30.0,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 years,-1,...,2044.0,30430.0,257.0,0.0,50000.0,2,3.0,1,47.0,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 years,0,...,1000.0,1000.0,1600.0,0.0,50000.0,1,1.0,2,26.0,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,15339.0,14307.0,37292.0,0.0,230000.0,2,1.0,2,NaN,0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 years,2,...,1000.0,1000.0,1000.0,716.0,50000.0,1,2.0,2,33.0,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 years,0,...,3302.0,3204.0,3200.0,2504.0,100000.0,1,1.0,2,32.0,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,7521.0,71439.0,981.0,51582.0,500000.0,2,2.0,1,NaN,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 years,-2,...,3180.0,0.0,5293.0,768.0,500000.0,1,1.0,1,58.0,0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 years,0,...,6300.0,6400.0,6400.0,6737.0,280000.0,Nan,2.0,1,40.0,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 years,0,...,2043.0,0.0,47671.0,617.0,60000.0,2,NaN,2,22.0,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 years,1,...,0.0,0.0,0.0,0.0,50000.0,1,1.0,2,25.0,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 years,-1,...,9976.0,8000.0,9525.0,781.0,280000.0,1,1.0,2,31.0,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,No info,0,...,6000.0,188840.0,28000.0,4000.0,360000.0,1,1.0,2,33.0,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 years,0,...,4042.0,2500.0,2800.0,2500.0,70000.0,2,1.0,2,25.0,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,1000.0,300.0,1000.0,500.0,10000.0,1,2.0,2,NaN,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,3000.0,4000.0,4000.0,3000.0,140000.0,2,2.0,1,NaN,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 years,0,...,0.0,2000.0,3000.0,0.0,40000.0,2,1.0,2,30.0,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,No info,-2,...,0.0,0.0,0.0,0.0,210000.0,1,1.0,2,29.0,1
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 years,0,...,16741.0,334.0,0.0,0.0,20000.0,2,1.0,2,22.0,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 years,0,...,0.0,0.0,0.0,0.0,150000.0,2,NaN,2,46.0,1
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 years,-1,...,24677.0,11851.0,11875.0,8251.0,380000.0,1,2.0,2,32.0,0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 years,0,...,704.0,928.0,912.0,1069.0,20000.0,Nan,1.0,2,24.0,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,No info,1,...,1100.0,1200.0,1300.0,1100.0,50000.0,2,3.0,3,23.0,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,No info,-1,...,396.0,565.0,792.0,0.0,160000.0,1,1.0,2,30.0,0

In [1075]:
df.columns

Index(['ID', 'SEX_x', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'AGE_x', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'EDUCATION_x', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'LIMIT_BAL', 'SEX_y', 'EDUCATION_y',
       'MARRIAGE', 'AGE_y', 'default.payment.next.month'],
      dtype='object')

In [1076]:
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,LIMIT_BAL,SEX_y,EDUCATION_y,MARRIAGE,AGE_y,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24.0,1
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 years,-1,...,1000.0,1000.0,0.0,2000.0,120000.0,2,2.0,2,26.0,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 years,0,...,1000.0,1000.0,1000.0,5000.0,90000.0,2,2.0,2,34.0,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,1200.0,1100.0,1069.0,1000.0,50000.0,2,NaN,1,37.0,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,1200.0,1100.0,1069.0,1000.0,50000.0,2,NaN,1,37.0,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 years,-1,...,10000.0,9000.0,689.0,679.0,50000.0,1,2.0,1,57.0,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,657.0,1000.0,1000.0,800.0,50000.0,1,1.0,2,37.0,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,657.0,1000.0,1000.0,800.0,50000.0,1,1.0,2,37.0,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 years,0,...,38000.0,20239.0,13750.0,13770.0,500000.0,1,NaN,2,29.0,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 years,0,...,0.0,581.0,1687.0,1542.0,100000.0,2,2.0,2,23.0,0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 years,0,...,432.0,1000.0,1000.0,1000.0,140000.0,2,3.0,1,28.0,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 years,-2,...,0.0,13007.0,1122.0,0.0,20000.0,1,3.0,2,35.0,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,50.0,300.0,3738.0,66.0,200000.0,2,3.0,2,NaN,0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 years,-1,...,8583.0,22301.0,0.0,3640.0,260000.0,2,1.0,2,51.0,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 years,-1,...,6500.0,6500.0,2870.0,0.0,630000.0,2,2.0,2,41.0,0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 years,1,...,3000.0,3000.0,1500.0,0.0,70000.0,Nan,2.0,2,30.0,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 years,0,...,3000.0,3000.0,3000.0,3000.0,250000.0,1,1.0,2,29.0,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 years,0,...,1500.0,0.0,1650.0,0.0,20000.0,1,1.0,2,24.0,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 years,0,...,75940.0,20000.0,195599.0,50000.0,320000.0,1,1.0,1,49.0,0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 years,1,...,0.0,0.0,0.0,0.0,360000.0,Nan,1.0,1,49.0,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 years,1,...,0.0,0.0,0.0,0.0,180000.0,2,1.0,2,29.0,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,No info,0,...,1000.0,2000.0,930.0,33764.0,130000.0,2,3.0,2,39.0,0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 years,-1,...,0.0,632.0,316.0,0.0,120000.0,2,2.0,1,39.0,1
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 years,2,...,0.0,3601.0,0.0,1820.0,70000.0,Nan,2.0,2,26.0,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 years,-2,...,560.0,0.0,0.0,1128.0,450000.0,2,1.0,1,40.0,1
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 years,0,...,5398.0,1200.0,2045.0,2000.0,90000.0,Nan,1.0,2,23.0,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1001.0,1432.0,1062.0,997.0,50000.0,1,3.0,2,NaN,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1001.0,1432.0,1062.0,997.0,50000.0,1,3.0,2,NaN,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 years,1,...,0.0,500.0,0.0,1000.0,60000.0,1,NaN,2,27.0,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 years,0,...,1000.0,1500.0,1000.0,1012.0,50000.0,2,NaN,2,30.0,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 years,-1,...,2044.0,30430.0,257.0,0.0,50000.0,2,3.0,1,47.0,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 years,0,...,1000.0,1000.0,1600.0,0.0,50000.0,1,1.0,2,26.0,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,15339.0,14307.0,37292.0,0.0,230000.0,2,1.0,2,NaN,0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 years,2,...,1000.0,1000.0,1000.0,716.0,50000.0,1,2.0,2,33.0,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 years,0,...,3302.0,3204.0,3200.0,2504.0,100000.0,1,1.0,2,32.0,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,7521.0,71439.0,981.0,51582.0,500000.0,2,2.0,1,NaN,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 years,-2,...,3180.0,0.0,5293.0,768.0,500000.0,1,1.0,1,58.0,0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 years,0,...,6300.0,6400.0,6400.0,6737.0,280000.0,Nan,2.0,1,40.0,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 years,0,...,2043.0,0.0,47671.0,617.0,60000.0,2,NaN,2,22.0,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 years,1,...,0.0,0.0,0.0,0.0,50000.0,1,1.0,2,25.0,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 years,-1,...,9976.0,8000.0,9525.0,781.0,280000.0,1,1.0,2,31.0,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,No info,0,...,6000.0,188840.0,28000.0,4000.0,360000.0,1,1.0,2,33.0,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 years,0,...,4042.0,2500.0,2800.0,2500.0,70000.0,2,1.0,2,25.0,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,1000.0,300.0,1000.0,500.0,10000.0,1,2.0,2,NaN,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,3000.0,4000.0,4000.0,3000.0,140000.0,2,2.0,1,NaN,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 years,0,...,0.0,2000.0,3000.0,0.0,40000.0,2,1.0,2,30.0,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,No info,-2,...,0.0,0.0,0.0,0.0,210000.0,1,1.0,2,29.0,1
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 years,0,...,16741.0,334.0,0.0,0.0,20000.0,2,1.0,2,22.0,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 years,0,...,0.0,0.0,0.0,0.0,150000.0,2,NaN,2,46.0,1
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 years,-1,...,24677.0,11851.0,11875.0,8251.0,380000.0,1,2.0,2,32.0,0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 years,0,...,704.0,928.0,912.0,1069.0,20000.0,Nan,1.0,2,24.0,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,No info,1,...,1100.0,1200.0,1300.0,1100.0,50000.0,2,3.0,3,23.0,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,No info,-1,...,396.0,565.0,792.0,0.0,160000.0,1,1.0,2,30.0,0

In [1077]:
df.dtypes

ID                              int64
SEX_x                          object
BILL_AMT1                     float64
BILL_AMT2                     float64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                     float64
BILL_AMT6                     float64
AGE_x                          object
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
EDUCATION_x                    object
PAY_AMT1                      float64
PAY_AMT2                      float64
PAY_AMT3                      float64
PAY_AMT4                      float64
PAY_AMT5                      float64
PAY_AMT6                      float64
LIMIT_BAL                      object
SEX_y                          object
EDUCATION_y                   float64
MARRIAGE                        int64
AGE_y                         float64
default.payment.next.month      int64
dtype: object

In [1078]:
df['AGE_x']

0      No info
1      No info
2      No info
3      No info
4      No info
5      No info
6      No info
7      No info
8     26 years
9     34 years
10    37 years
11    37 years
12    57 years
13     No info
14     No info
15    29 years
16    23 years
17    28 years
18    35 years
19    34 years
20    51 years
21    41 years
22    30 years
23    29 years
24    24 years
25    49 years
26    49 years
27    29 years
28     No info
29    39 years
30    26 years
31    40 years
32    23 years
33    23 years
34    23 years
35    27 years
36    30 years
37    47 years
38    26 years
39    27 years
40    33 years
41    32 years
42    54 years
43    58 years
44    40 years
45    22 years
46    25 years
47    31 years
48     No info
49    25 years
50    22 years
51    37 years
52    30 years
53     No info
54    22 years
55    46 years
56    32 years
57    24 years
58     No info
59     No info
Name: AGE_x, dtype: object

In [1079]:
df.AGE_x = df.AGE_x.replace({"No info": 'n'})

In [1080]:
df['AGE_x']

0            n
1            n
2            n
3            n
4            n
5            n
6            n
7            n
8     26 years
9     34 years
10    37 years
11    37 years
12    57 years
13           n
14           n
15    29 years
16    23 years
17    28 years
18    35 years
19    34 years
20    51 years
21    41 years
22    30 years
23    29 years
24    24 years
25    49 years
26    49 years
27    29 years
28           n
29    39 years
30    26 years
31    40 years
32    23 years
33    23 years
34    23 years
35    27 years
36    30 years
37    47 years
38    26 years
39    27 years
40    33 years
41    32 years
42    54 years
43    58 years
44    40 years
45    22 years
46    25 years
47    31 years
48           n
49    25 years
50    22 years
51    37 years
52    30 years
53           n
54    22 years
55    46 years
56    32 years
57    24 years
58           n
59           n
Name: AGE_x, dtype: object

In [1081]:
df['AGE_y']

0     24.0
1     24.0
2     24.0
3     24.0
4     24.0
5     24.0
6     24.0
7     24.0
8     26.0
9     34.0
10    37.0
11    37.0
12    57.0
13    37.0
14    37.0
15    29.0
16    23.0
17    28.0
18    35.0
19     NaN
20    51.0
21    41.0
22    30.0
23    29.0
24    24.0
25    49.0
26    49.0
27    29.0
28    39.0
29    39.0
30    26.0
31    40.0
32    23.0
33     NaN
34     NaN
35    27.0
36    30.0
37    47.0
38    26.0
39     NaN
40    33.0
41    32.0
42     NaN
43    58.0
44    40.0
45    22.0
46    25.0
47    31.0
48    33.0
49    25.0
50     NaN
51     NaN
52    30.0
53    29.0
54    22.0
55    46.0
56    32.0
57    24.0
58    23.0
59    30.0
Name: AGE_y, dtype: float64

In [1082]:
df['AGE_y'] = df['AGE_y'].astype(str).str[:-2]
df['AGE_y']

0     24
1     24
2     24
3     24
4     24
5     24
6     24
7     24
8     26
9     34
10    37
11    37
12    57
13    37
14    37
15    29
16    23
17    28
18    35
19     n
20    51
21    41
22    30
23    29
24    24
25    49
26    49
27    29
28    39
29    39
30    26
31    40
32    23
33     n
34     n
35    27
36    30
37    47
38    26
39     n
40    33
41    32
42     n
43    58
44    40
45    22
46    25
47    31
48    33
49    25
50     n
51     n
52    30
53    29
54    22
55    46
56    32
57    24
58    23
59    30
Name: AGE_y, dtype: object

In [1083]:
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,LIMIT_BAL,SEX_y,EDUCATION_y,MARRIAGE,AGE_y,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,24,1
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 years,-1,...,1000.0,1000.0,0.0,2000.0,120000.0,2,2.0,2,26,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 years,0,...,1000.0,1000.0,1000.0,5000.0,90000.0,2,2.0,2,34,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,1200.0,1100.0,1069.0,1000.0,50000.0,2,NaN,1,37,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,1200.0,1100.0,1069.0,1000.0,50000.0,2,NaN,1,37,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 years,-1,...,10000.0,9000.0,689.0,679.0,50000.0,1,2.0,1,57,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,n,0,...,657.0,1000.0,1000.0,800.0,50000.0,1,1.0,2,37,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,n,0,...,657.0,1000.0,1000.0,800.0,50000.0,1,1.0,2,37,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 years,0,...,38000.0,20239.0,13750.0,13770.0,500000.0,1,NaN,2,29,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 years,0,...,0.0,581.0,1687.0,1542.0,100000.0,2,2.0,2,23,0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 years,0,...,432.0,1000.0,1000.0,1000.0,140000.0,2,3.0,1,28,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 years,-2,...,0.0,13007.0,1122.0,0.0,20000.0,1,3.0,2,35,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,50.0,300.0,3738.0,66.0,200000.0,2,3.0,2,n,0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 years,-1,...,8583.0,22301.0,0.0,3640.0,260000.0,2,1.0,2,51,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 years,-1,...,6500.0,6500.0,2870.0,0.0,630000.0,2,2.0,2,41,0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 years,1,...,3000.0,3000.0,1500.0,0.0,70000.0,Nan,2.0,2,30,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 years,0,...,3000.0,3000.0,3000.0,3000.0,250000.0,1,1.0,2,29,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 years,0,...,1500.0,0.0,1650.0,0.0,20000.0,1,1.0,2,24,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 years,0,...,75940.0,20000.0,195599.0,50000.0,320000.0,1,1.0,1,49,0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 years,1,...,0.0,0.0,0.0,0.0,360000.0,Nan,1.0,1,49,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 years,1,...,0.0,0.0,0.0,0.0,180000.0,2,1.0,2,29,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,n,0,...,1000.0,2000.0,930.0,33764.0,130000.0,2,3.0,2,39,0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 years,-1,...,0.0,632.0,316.0,0.0,120000.0,2,2.0,1,39,1
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 years,2,...,0.0,3601.0,0.0,1820.0,70000.0,Nan,2.0,2,26,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 years,-2,...,560.0,0.0,0.0,1128.0,450000.0,2,1.0,1,40,1
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 years,0,...,5398.0,1200.0,2045.0,2000.0,90000.0,Nan,1.0,2,23,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1001.0,1432.0,1062.0,997.0,50000.0,1,3.0,2,n,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1001.0,1432.0,1062.0,997.0,50000.0,1,3.0,2,n,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 years,1,...,0.0,500.0,0.0,1000.0,60000.0,1,NaN,2,27,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 years,0,...,1000.0,1500.0,1000.0,1012.0,50000.0,2,NaN,2,30,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 years,-1,...,2044.0,30430.0,257.0,0.0,50000.0,2,3.0,1,47,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 years,0,...,1000.0,1000.0,1600.0,0.0,50000.0,1,1.0,2,26,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,15339.0,14307.0,37292.0,0.0,230000.0,2,1.0,2,n,0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 years,2,...,1000.0,1000.0,1000.0,716.0,50000.0,1,2.0,2,33,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 years,0,...,3302.0,3204.0,3200.0,2504.0,100000.0,1,1.0,2,32,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,7521.0,71439.0,981.0,51582.0,500000.0,2,2.0,1,n,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 years,-2,...,3180.0,0.0,5293.0,768.0,500000.0,1,1.0,1,58,0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 years,0,...,6300.0,6400.0,6400.0,6737.0,280000.0,Nan,2.0,1,40,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 years,0,...,2043.0,0.0,47671.0,617.0,60000.0,2,NaN,2,22,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 years,1,...,0.0,0.0,0.0,0.0,50000.0,1,1.0,2,25,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 years,-1,...,9976.0,8000.0,9525.0,781.0,280000.0,1,1.0,2,31,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,n,0,...,6000.0,188840.0,28000.0,4000.0,360000.0,1,1.0,2,33,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 years,0,...,4042.0,2500.0,2800.0,2500.0,70000.0,2,1.0,2,25,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,1000.0,300.0,1000.0,500.0,10000.0,1,2.0,2,n,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,3000.0,4000.0,4000.0,3000.0,140000.0,2,2.0,1,n,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 years,0,...,0.0,2000.0,3000.0,0.0,40000.0,2,1.0,2,30,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,n,-2,...,0.0,0.0,0.0,0.0,210000.0,1,1.0,2,29,1
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 years,0,...,16741.0,334.0,0.0,0.0,20000.0,2,1.0,2,22,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 years,0,...,0.0,0.0,0.0,0.0,150000.0,2,NaN,2,46,1
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 years,-1,...,24677.0,11851.0,11875.0,8251.0,380000.0,1,2.0,2,32,0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 years,0,...,704.0,928.0,912.0,1069.0,20000.0,Nan,1.0,2,24,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,n,1,...,1100.0,1200.0,1300.0,1100.0,50000.0,2,3.0,3,23,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,n,-1,...,396.0,565.0,792.0,0.0,160000.0,1,1.0,2,30,0

In [1084]:
#y_nan AGE_y n
y_nan = np.where(df['AGE_x']=='n', df['AGE_y'] + ' years', df['AGE_x'])
df['AGE'] = np.where(df['AGE_x']==df['AGE_y'], df['AGE_x'], y_nan)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,LIMIT_BAL,SEX_y,EDUCATION_y,MARRIAGE,AGE_y,default.payment.next.month,AGE
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,20000.0,2,2.0,1,24,1,24 years
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,20000.0,2,2.0,1,24,1,24 years
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,20000.0,2,2.0,1,24,1,24 years
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,20000.0,2,2.0,1,24,1,24 years
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,20000.0,2,2.0,1,24,1,24 years
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,20000.0,2,2.0,1,24,1,24 years
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,20000.0,2,2.0,1,24,1,24 years
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,n,2,...,0.0,0.0,0.0,20000.0,2,2.0,1,24,1,24 years
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 years,-1,...,1000.0,0.0,2000.0,120000.0,2,2.0,2,26,1,26 years
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 years,0,...,1000.0,1000.0,5000.0,90000.0,2,2.0,2,34,0,34 years
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,1100.0,1069.0,1000.0,50000.0,2,NaN,1,37,0,37 years
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,1100.0,1069.0,1000.0,50000.0,2,NaN,1,37,0,37 years
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 years,-1,...,9000.0,689.0,679.0,50000.0,1,2.0,1,57,0,57 years
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,n,0,...,1000.0,1000.0,800.0,50000.0,1,1.0,2,37,0,37 years
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,n,0,...,1000.0,1000.0,800.0,50000.0,1,1.0,2,37,0,37 years
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 years,0,...,20239.0,13750.0,13770.0,500000.0,1,NaN,2,29,0,29 years
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 years,0,...,581.0,1687.0,1542.0,100000.0,2,2.0,2,23,0,23 years
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 years,0,...,1000.0,1000.0,1000.0,140000.0,2,3.0,1,28,0,28 years
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 years,-2,...,13007.0,1122.0,0.0,20000.0,1,3.0,2,35,0,35 years
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,300.0,3738.0,66.0,200000.0,2,3.0,2,n,0,34 years
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 years,-1,...,22301.0,0.0,3640.0,260000.0,2,1.0,2,51,0,51 years
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 years,-1,...,6500.0,2870.0,0.0,630000.0,2,2.0,2,41,0,41 years
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 years,1,...,3000.0,1500.0,0.0,70000.0,Nan,2.0,2,30,1,30 years
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 years,0,...,3000.0,3000.0,3000.0,250000.0,1,1.0,2,29,0,29 years
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 years,0,...,0.0,1650.0,0.0,20000.0,1,1.0,2,24,1,24 years
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 years,0,...,20000.0,195599.0,50000.0,320000.0,1,1.0,1,49,0,49 years
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 years,1,...,0.0,0.0,0.0,360000.0,Nan,1.0,1,49,0,49 years
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 years,1,...,0.0,0.0,0.0,180000.0,2,1.0,2,29,0,29 years
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,n,0,...,2000.0,930.0,33764.0,130000.0,2,3.0,2,39,0,39 years
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 years,-1,...,632.0,316.0,0.0,120000.0,2,2.0,1,39,1,39 years
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 years,2,...,3601.0,0.0,1820.0,70000.0,Nan,2.0,2,26,1,26 years
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 years,-2,...,0.0,0.0,1128.0,450000.0,2,1.0,1,40,1,40 years
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 years,0,...,1200.0,2045.0,2000.0,90000.0,Nan,1.0,2,23,0,23 years
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1432.0,1062.0,997.0,50000.0,1,3.0,2,n,0,23 years
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1432.0,1062.0,997.0,50000.0,1,3.0,2,n,0,23 years
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 years,1,...,500.0,0.0,1000.0,60000.0,1,NaN,2,27,1,27 years
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 years,0,...,1500.0,1000.0,1012.0,50000.0,2,NaN,2,30,0,30 years
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 years,-1,...,30430.0,257.0,0.0,50000.0,2,3.0,1,47,0,47 years
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 years,0,...,1000.0,1600.0,0.0,50000.0,1,1.0,2,26,0,26 years
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,14307.0,37292.0,0.0,230000.0,2,1.0,2,n,0,27 years
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 years,2,...,1000.0,1000.0,716.0,50000.0,1,2.0,2,33,1,33 years
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 years,0,...,3204.0,3200.0,2504.0,100000.0,1,1.0,2,32,0,32 years
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,71439.0,981.0,51582.0,500000.0,2,2.0,1,n,0,54 years
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 years,-2,...,0.0,5293.0,768.0,500000.0,1,1.0,1,58,0,58 years
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 years,0,...,6400.0,6400.0,6737.0,280000.0,Nan,2.0,1,40,0,40 years
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 years,0,...,0.0,47671.0,617.0,60000.0,2,NaN,2,22,0,22 years
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 years,1,...,0.0,0.0,0.0,50000.0,1,1.0,2,25,1,25 years
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 years,-1,...,8000.0,9525.0,781.0,280000.0,1,1.0,2,31,0,31 years
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,n,0,...,188840.0,28000.0,4000.0,360000.0,1,1.0,2,33,0,33 years
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 years,0,...,2500.0,2800.0,2500.0,70000.0,2,1.0,2,25,0,25 years
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,300.0,1000.0,500.0,10000.0,1,2.0,2,n,0,22 years
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,4000.0,4000.0,3000.0,140000.0,2,2.0,1,n,0,37 years
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 years,0,...,2000.0,3000.0,0.0,40000.0,2,1.0,2,30,0,30 years
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,n,-2,...,0.0,0.0,0.0,210000.0,1,1.0,2,29,1,29 years
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 years,0,...,334.0,0.0,0.0,20000.0,2,1.0,2,22,1,22 years
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 years,0,...,0.0,0.0,0.0,150000.0,2,NaN,2,46,1,46 years
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 years,-1,...,11851.0,11875.0,8251.0,380000.0,1,2.0,2,32,0,32 years
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 years,0,...,928.0,912.0,1069.0,20000.0,Nan,1.0,2,24,0,24 years
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,n,1,...,1200.0,1300.0,1100.0,50000.0,2,3.0,3,23,0,23 years
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,n,-1,...,565.0,792.0,0.0,160000.0,1,1.0,2,30,0,30 years

In [1085]:
df.columns

Index(['ID', 'SEX_x', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'AGE_x', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'EDUCATION_x', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'LIMIT_BAL', 'SEX_y', 'EDUCATION_y',
       'MARRIAGE', 'AGE_y', 'default.payment.next.month', 'AGE'],
      dtype='object')

In [1086]:
df = df.drop(labels=["AGE_y", "AGE_x"], axis=1)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_0,PAY_2,...,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,LIMIT_BAL,SEX_y,EDUCATION_y,MARRIAGE,default.payment.next.month,AGE
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,1,24 years
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,1,24 years
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,1,24 years
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,1,24 years
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,1,24 years
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,1,24 years
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,1,24 years
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,0.0,20000.0,2,2.0,1,1,24 years
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,-1,2,...,1000.0,1000.0,0.0,2000.0,120000.0,2,2.0,2,1,26 years
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,0,0,...,1000.0,1000.0,1000.0,5000.0,90000.0,2,2.0,2,0,34 years
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,0,0,...,1200.0,1100.0,1069.0,1000.0,50000.0,2,NaN,1,0,37 years
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,0,0,...,1200.0,1100.0,1069.0,1000.0,50000.0,2,NaN,1,0,37 years
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,-1,0,...,10000.0,9000.0,689.0,679.0,50000.0,1,2.0,1,0,57 years
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,0,0,...,657.0,1000.0,1000.0,800.0,50000.0,1,1.0,2,0,37 years
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,0,0,...,657.0,1000.0,1000.0,800.0,50000.0,1,1.0,2,0,37 years
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,0,0,...,38000.0,20239.0,13750.0,13770.0,500000.0,1,NaN,2,0,29 years
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,0,-1,...,0.0,581.0,1687.0,1542.0,100000.0,2,2.0,2,0,23 years
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,0,0,...,432.0,1000.0,1000.0,1000.0,140000.0,2,3.0,1,0,28 years
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,-2,-2,...,0.0,13007.0,1122.0,0.0,20000.0,1,3.0,2,0,35 years
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,0,0,...,50.0,300.0,3738.0,66.0,200000.0,2,3.0,2,0,34 years
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,-1,-1,...,8583.0,22301.0,0.0,3640.0,260000.0,2,1.0,2,0,51 years
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,-1,0,...,6500.0,6500.0,2870.0,0.0,630000.0,2,2.0,2,0,41 years
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,1,2,...,3000.0,3000.0,1500.0,0.0,70000.0,Nan,2.0,2,1,30 years
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,0,0,...,3000.0,3000.0,3000.0,3000.0,250000.0,1,1.0,2,0,29 years
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,0,0,...,1500.0,0.0,1650.0,0.0,20000.0,1,1.0,2,1,24 years
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,0,0,...,75940.0,20000.0,195599.0,50000.0,320000.0,1,1.0,1,0,49 years
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,1,-2,...,0.0,0.0,0.0,0.0,360000.0,Nan,1.0,1,0,49 years
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,1,-2,...,0.0,0.0,0.0,0.0,180000.0,2,1.0,2,0,29 years
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,0,0,...,1000.0,2000.0,930.0,33764.0,130000.0,2,3.0,2,0,39 years
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,-1,-1,...,0.0,632.0,316.0,0.0,120000.0,2,2.0,1,1,39 years
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,2,0,...,0.0,3601.0,0.0,1820.0,70000.0,Nan,2.0,2,1,26 years
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,-2,-2,...,560.0,0.0,0.0,1128.0,450000.0,2,1.0,1,1,40 years
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,0,0,...,5398.0,1200.0,2045.0,2000.0,90000.0,Nan,1.0,2,0,23 years
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,0,0,...,1001.0,1432.0,1062.0,997.0,50000.0,1,3.0,2,0,23 years
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,0,0,...,1001.0,1432.0,1062.0,997.0,50000.0,1,3.0,2,0,23 years
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,1,-2,...,0.0,500.0,0.0,1000.0,60000.0,1,NaN,2,1,27 years
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,0,0,...,1000.0,1500.0,1000.0,1012.0,50000.0,2,NaN,2,0,30 years
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,-1,-1,...,2044.0,30430.0,257.0,0.0,50000.0,2,3.0,1,0,47 years
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,0,0,...,1000.0,1000.0,1600.0,0.0,50000.0,1,1.0,2,0,26 years
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,-1,-1,...,15339.0,14307.0,37292.0,0.0,230000.0,2,1.0,2,0,27 years
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,2,0,...,1000.0,1000.0,1000.0,716.0,50000.0,1,2.0,2,1,33 years
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,0,0,...,3302.0,3204.0,3200.0,2504.0,100000.0,1,1.0,2,0,32 years
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,-2,-2,...,7521.0,71439.0,981.0,51582.0,500000.0,2,2.0,1,0,54 years
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,-2,-2,...,3180.0,0.0,5293.0,768.0,500000.0,1,1.0,1,0,58 years
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,0,0,...,6300.0,6400.0,6400.0,6737.0,280000.0,Nan,2.0,1,0,40 years
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,0,0,...,2043.0,0.0,47671.0,617.0,60000.0,2,NaN,2,0,22 years
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,1,-1,...,0.0,0.0,0.0,0.0,50000.0,1,1.0,2,1,25 years
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,-1,-1,...,9976.0,8000.0,9525.0,781.0,280000.0,1,1.0,2,0,31 years
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,0,0,...,6000.0,188840.0,28000.0,4000.0,360000.0,1,1.0,2,0,33 years
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,0,0,...,4042.0,2500.0,2800.0,2500.0,70000.0,2,1.0,2,0,25 years
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,0,0,...,1000.0,300.0,1000.0,500.0,10000.0,1,2.0,2,0,22 years
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,0,0,...,3000.0,4000.0,4000.0,3000.0,140000.0,2,2.0,1,0,37 years
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,0,0,...,0.0,2000.0,3000.0,0.0,40000.0,2,1.0,2,0,30 years
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,-2,-2,...,0.0,0.0,0.0,0.0,210000.0,1,1.0,2,1,29 years
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,0,0,...,16741.0,334.0,0.0,0.0,20000.0,2,1.0,2,1,22 years
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,150000.0,2,NaN,2,1,46 years
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,-1,-1,...,24677.0,11851.0,11875.0,8251.0,380000.0,1,2.0,2,0,32 years
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,0,0,...,704.0,928.0,912.0,1069.0,20000.0,Nan,1.0,2,0,24 years
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,1,2,...,1100.0,1200.0,1300.0,1100.0,50000.0,2,3.0,3,0,23 years
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,-1,-1,...,396.0,565.0,792.0,0.0,160000.0,1,1.0,2,0,30 years

In [1087]:
df[['SEX_x', "SEX_y"]]

     SEX_x SEX_y
0   female     2
1   female     2
2   female     2
3   female     2
4   female     2
5   female     2
6   female     2
7   female     2
8      NaN     2
9   female     2
10  female     2
11  female     2
12    male     1
13    male     1
14    male     1
15    male     1
16  female     2
17     NaN     2
18    male     1
19  female     2
20     NaN     2
21  female     2
22    male   Nan
23    male     1
24    male     1
25    male     1
26  female   Nan
27  female     2
28  female     2
29     NaN     2
30  female   Nan
31  female     2
32    male   Nan
33    male     1
34    male     1
35    male     1
36  female     2
37  female     2
38    male     1
39  female     2
40     NaN     1
41    male     1
42  female     2
43    male     1
44    male   Nan
45  female     2
46    male     1
47    male     1
48    male     1
49  female     2
50    male     1
51  female     2
52  female     2
53    male     1
54     NaN     2
55  female     2
56     NaN     1
57    male   Nan
58  female     2
59    male     1

In [1088]:
df['SEX_y'] = df['SEX_y'].replace('2','female')
df['SEX_y'] = df['SEX_y'].replace('1','male')

df['SEX_y']

0     female
1     female
2     female
3     female
4     female
5     female
6     female
7     female
8     female
9     female
10    female
11    female
12      male
13      male
14      male
15      male
16    female
17    female
18      male
19    female
20    female
21    female
22       Nan
23      male
24      male
25      male
26       Nan
27    female
28    female
29    female
30       Nan
31    female
32       Nan
33      male
34      male
35      male
36    female
37    female
38      male
39    female
40      male
41      male
42    female
43      male
44       Nan
45    female
46      male
47      male
48      male
49    female
50      male
51    female
52    female
53      male
54    female
55    female
56      male
57       Nan
58    female
59      male
Name: SEX_y, dtype: object

In [1089]:
df.dtypes

ID                              int64
SEX_x                          object
BILL_AMT1                     float64
BILL_AMT2                     float64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                     float64
BILL_AMT6                     float64
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
EDUCATION_x                    object
PAY_AMT1                      float64
PAY_AMT2                      float64
PAY_AMT3                      float64
PAY_AMT4                      float64
PAY_AMT5                      float64
PAY_AMT6                      float64
LIMIT_BAL                      object
SEX_y                          object
EDUCATION_y                   float64
MARRIAGE                        int64
default.payment.next.month      int64
AGE                            object
dtype: object

In [1090]:
y_nan_2 = np.where(df['SEX_x']== 'nan ', df['SEX_y'], df['SEX_x'])
df['SEX'] = np.where(df['SEX_x']==df['SEX_y'], df['SEX_x'], y_nan_2)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_0,PAY_2,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,LIMIT_BAL,SEX_y,EDUCATION_y,MARRIAGE,default.payment.next.month,AGE,SEX
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,20000.0,female,2.0,1,1,24 years,female
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,20000.0,female,2.0,1,1,24 years,female
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,20000.0,female,2.0,1,1,24 years,female
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,20000.0,female,2.0,1,1,24 years,female
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,20000.0,female,2.0,1,1,24 years,female
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,20000.0,female,2.0,1,1,24 years,female
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,20000.0,female,2.0,1,1,24 years,female
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,2,2,...,0.0,0.0,0.0,20000.0,female,2.0,1,1,24 years,female
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,-1,2,...,1000.0,0.0,2000.0,120000.0,female,2.0,2,1,26 years,NaN
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,0,0,...,1000.0,1000.0,5000.0,90000.0,female,2.0,2,0,34 years,female
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,0,0,...,1100.0,1069.0,1000.0,50000.0,female,NaN,1,0,37 years,female
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,0,0,...,1100.0,1069.0,1000.0,50000.0,female,NaN,1,0,37 years,female
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,-1,0,...,9000.0,689.0,679.0,50000.0,male,2.0,1,0,57 years,male
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,0,0,...,1000.0,1000.0,800.0,50000.0,male,1.0,2,0,37 years,male
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,0,0,...,1000.0,1000.0,800.0,50000.0,male,1.0,2,0,37 years,male
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,0,0,...,20239.0,13750.0,13770.0,500000.0,male,NaN,2,0,29 years,male
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,0,-1,...,581.0,1687.0,1542.0,100000.0,female,2.0,2,0,23 years,female
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,0,0,...,1000.0,1000.0,1000.0,140000.0,female,3.0,1,0,28 years,NaN
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,-2,-2,...,13007.0,1122.0,0.0,20000.0,male,3.0,2,0,35 years,male
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,0,0,...,300.0,3738.0,66.0,200000.0,female,3.0,2,0,34 years,female
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,-1,-1,...,22301.0,0.0,3640.0,260000.0,female,1.0,2,0,51 years,NaN
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,-1,0,...,6500.0,2870.0,0.0,630000.0,female,2.0,2,0,41 years,female
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,1,2,...,3000.0,1500.0,0.0,70000.0,Nan,2.0,2,1,30 years,male
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,0,0,...,3000.0,3000.0,3000.0,250000.0,male,1.0,2,0,29 years,male
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,0,0,...,0.0,1650.0,0.0,20000.0,male,1.0,2,1,24 years,male
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,0,0,...,20000.0,195599.0,50000.0,320000.0,male,1.0,1,0,49 years,male
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,1,-2,...,0.0,0.0,0.0,360000.0,Nan,1.0,1,0,49 years,female
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,1,-2,...,0.0,0.0,0.0,180000.0,female,1.0,2,0,29 years,female
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,0,0,...,2000.0,930.0,33764.0,130000.0,female,3.0,2,0,39 years,female
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,-1,-1,...,632.0,316.0,0.0,120000.0,female,2.0,1,1,39 years,NaN
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,2,0,...,3601.0,0.0,1820.0,70000.0,Nan,2.0,2,1,26 years,female
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,-2,-2,...,0.0,0.0,1128.0,450000.0,female,1.0,1,1,40 years,female
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,0,0,...,1200.0,2045.0,2000.0,90000.0,Nan,1.0,2,0,23 years,male
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,0,0,...,1432.0,1062.0,997.0,50000.0,male,3.0,2,0,23 years,male
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,0,0,...,1432.0,1062.0,997.0,50000.0,male,3.0,2,0,23 years,male
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,1,-2,...,500.0,0.0,1000.0,60000.0,male,NaN,2,1,27 years,male
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,0,0,...,1500.0,1000.0,1012.0,50000.0,female,NaN,2,0,30 years,female
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,-1,-1,...,30430.0,257.0,0.0,50000.0,female,3.0,1,0,47 years,female
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,0,0,...,1000.0,1600.0,0.0,50000.0,male,1.0,2,0,26 years,male
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,-1,-1,...,14307.0,37292.0,0.0,230000.0,female,1.0,2,0,27 years,female
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,2,0,...,1000.0,1000.0,716.0,50000.0,male,2.0,2,1,33 years,NaN
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,0,0,...,3204.0,3200.0,2504.0,100000.0,male,1.0,2,0,32 years,male
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,-2,-2,...,71439.0,981.0,51582.0,500000.0,female,2.0,1,0,54 years,female
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,-2,-2,...,0.0,5293.0,768.0,500000.0,male,1.0,1,0,58 years,male
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,0,0,...,6400.0,6400.0,6737.0,280000.0,Nan,2.0,1,0,40 years,male
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,0,0,...,0.0,47671.0,617.0,60000.0,female,NaN,2,0,22 years,female
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,1,-1,...,0.0,0.0,0.0,50000.0,male,1.0,2,1,25 years,male
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,-1,-1,...,8000.0,9525.0,781.0,280000.0,male,1.0,2,0,31 years,male
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,0,0,...,188840.0,28000.0,4000.0,360000.0,male,1.0,2,0,33 years,male
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,0,0,...,2500.0,2800.0,2500.0,70000.0,female,1.0,2,0,25 years,female
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,0,0,...,300.0,1000.0,500.0,10000.0,male,2.0,2,0,22 years,male
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,0,0,...,4000.0,4000.0,3000.0,140000.0,female,2.0,1,0,37 years,female
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,0,0,...,2000.0,3000.0,0.0,40000.0,female,1.0,2,0,30 years,female
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,-2,-2,...,0.0,0.0,0.0,210000.0,male,1.0,2,1,29 years,male
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,0,0,...,334.0,0.0,0.0,20000.0,female,1.0,2,1,22 years,NaN
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,0,0,...,0.0,0.0,0.0,150000.0,female,NaN,2,1,46 years,female
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,-1,-1,...,11851.0,11875.0,8251.0,380000.0,male,2.0,2,0,32 years,NaN
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,0,0,...,928.0,912.0,1069.0,20000.0,Nan,1.0,2,0,24 years,male
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,1,2,...,1200.0,1300.0,1100.0,50000.0,female,3.0,3,0,23 years,female
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,-1,-1,...,565.0,792.0,0.0,160000.0,male,1.0,2,0,30 years,male